<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="IQMediaEntities" connectionString="metadata=res://*/IQMedia.SMS.Domain.csdl|res://*/IQMedia.SMS.Domain.ssdl|res://*/IQMedia.SMS.Domain.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.1.34;initial catalog=IQMediaGroup;user id=IQMediaWeb;password=CCSearch1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>