<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="Mappings" type="IQMediaGroup.Common.Config.Handlers.XmlConfigurationSectionHandler, IQMediaGroup.Common"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <!-- security -->
    <authentication mode="Forms">
      <forms name=".IQAUTH"
             protection="All"
             path="/"
             domain="localhost"
             timeout="2160" />
    </authentication>

    <httpHandlers>
      <add verb="GET,HEAD" path="crossdomain.xml" type="System.Web.StaticFileHandler"/>
      <add verb="GET,HEAD" path="*.txt" type="System.Web.StaticFileHandler"/>
      <add verb="GET,HEAD" path="*.html" type="System.Web.StaticFileHandler"/>
      <add verb="GET,HEAD" path="*.js" type="System.Web.StaticFileHandler"/>
      <add verb="*" path="*" type="IQMediaGroup.TVEyes.RequestProcessor, IQMediaGroup.TVEyes" />
    </httpHandlers>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <Mappings type="IQMediaGroup.TVEyes.Config.Sections.Mappings.Mappings, IQMediaGroup.TVEyes, Version=1.0.0.0, Culture=neutral">
    <UrlMappings>
      <UrlMapping Url="/tveyes/MediaReadyForDownload">
        <ActionClass Type="IQMediaGroup.TVEyes.Commands.MediaReadyForDownload, IQMediaGroup.TVEyes">
          <Parameters>
            <Parameter Key="result" Type="System.String" />
            <Parameter Key="media" Type="System.String" />
            <Parameter Key="package" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
    </UrlMappings>
  </Mappings>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\tvtypes_services.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="1024KB"/>
      <maxSizeRollBackups value="5"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] %-5level (%logger) - %message%newline"/>
      </layout>

      <!-- File Logging Levels -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
</configuration>
