<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="MessageSettings" type="IQMedia.Shared.Config.Handlers.XmlConfigurationSectionHandler, IQMedia.Shared" />
    <section name="SolrUrlSettings" type="IQMedia.Shared.Config.Handlers.XmlConfigurationSectionHandler, IQMedia.Shared" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <!-- <add name="IQMediaGroupConnectionString" connectionString="server=192.168.1.240,1456\R2;Failover Partner=192.168.1.240,1456\R2;user id=IQMediaGroup;password=IMG@123;database=IQMediaGroup" providerName="System.Data.SqlClient"/>
    <add name="IQMediaGroupEntities" connectionString="metadata=res://*/IQMedia.csdl|res://*/IQMedia.ssdl|res://*/IQMedia.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.240,1456\R2;User Id=IQMediaGroup;Password=IMG@123;Initial Catalog=IQMediaGroup;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
-->
    <!--<add name="IQMediaGroupConnectionString" connectionString="server=10.100.1.34;user id=IQMediaWeb;password=CCSearch1;database=IQMediaGroup" providerName="System.Data.SqlClient"/>
    <add name="IQMediaGroupEntities" connectionString="metadata=res://*/IQMedia.csdl|res://*/IQMedia.ssdl|res://*/IQMedia.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.100.1.34;User Id=IQMediaWeb;Password=CCSearch1;Initial Catalog=IQMediaGroup;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->

    <add name="IQMediaGroupConnectionString" connectionString="server=CHRISFURST-PC;user id=IQMediaWeb;password=CCSearch1;database=IQMediaGroup" providerName="System.Data.SqlClient"/>
    <add name="IQMediaGroupEntities" connectionString="metadata=res://*/IQMedia.csdl|res://*/IQMedia.ssdl|res://*/IQMedia.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CHRISFURST-PC;User Id=IQMediaWeb;Password=CCSearch1;Initial Catalog=IQMediaGroup;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>

    <!-- System Used -->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MyCliqMediaHost" value="qa.mycliqmedia.com,www.mycliqmedia.com,mycliqmedia.com"/>

    <!-- Common -->
    <!-- Used for set service base url -->
    <add key="ServicesBaseURL" value="1"></add>
    <!-- Used to check for local or qa -->
    <add key="IsLocal" value="false"/>
    <!-- Used in Discovery, DiscoveryLite, Discovery2 to set max request duration -->
    <add key="MaxRequestDuration" value="300000"/>
    <!-- Used in Feeds to set max request duration -->
    <add key="MaxFeedsRequestDuration" value="90000"/>
    <!-- Used for PMG Log -->
    <add key="IsPMGLogging" value="true"/>
    <add key="PMGLogFileLocation" value="C:\Logs\PMGLog\"/>
    <!-- Used for Feeds Log -->
    <add key="IsFeedsLogging" value="true"/>
    <add key="FeedsLogFileLocation" value="C:\Logs\FeedsLog\"/>
    <!-- Used for Station Logo in Discovery, DiscoveryLite, Discovery2, Timeshift, Library, Dashboard, Feeds Controller-->
    <add key="StationLogo" value="../StationLogoImages/"/>
    <!-- Used for Check android Version in CommonFunction.cs-->
    <add key="AndroidVersionRegex" value="(?&lt;=\bandroid\s\b)(\d+(?:\.\d+)+)"/>
    <!-- Used for default android Version in CommonFunction.cs-->
    <add key="AndroidDefaultVersion" value="4.1"/>
    <!-- Used to set player offset in Common, Feed, IframeRawMedia, RawMediaPlayer Controller-->
    <add key="PlayerDefaultOffset" value="8"/>
    <!-- Used to set PM base url -->
    <add key="IQArchieve_PMBaseUrl" value="https://qa.iqmediacorp.com/"/>
    <!-- Used to set Player Logo -->
    <add key="ClipPlayerLogoBasePath" value="http://localost/"/>
    <!-- Used to set html pdf path -->
    <add key="TempHTML-PDFPath" value="D:\\" />
    <!-- Used for convert html to pdf-->
    <add key="HiQPdfSerialKey" value="BU1sVFVh-Y0lsZ3dk-d3w8KzUl-NCU2JTEz-NjUlNjQr-NDcrPDw8-PA==" />
    <!-- Used to set logo in email-->
    <add key="IQMediaEmailLogo" value="Images\logo_N.png"/>
    <!-- Used to set V3 website url-->
    <add key="v3WebsiteUrl" value="v3.iqmediacorp.com"/>
    <!-- Used in Basic Player and RawMedia Player controller-->
    <add key="RawMediaGetVars" value="https://qaservices.iqmediacorp.com/svc/media/getVars?fid={0}"/>
    <add key="LogRawMediaPlayService" value="https://qaservices.iqmediacorp.com//iqsvc/logRawMediaPlay?fid={0}&amp;ref={1}&amp;host={2}"/>
    <add key="UpdateRawMediaPlayLogService" value="https://qaservices.iqmediacorp.com/iqsvc/updateRawMediaPlayLog?id={0}&amp;updateRawMedia={1}" />
    <add key="RawMediaLogUpdateInterval" value="20" />
    <!-- Used to set report header url -->
    <add key="UrlReportHeader" value="http://cfurst.iqmediacorp.com/Images/ReportHeader/"/>
    <!-- Used to check site is in under maintenance -->
    <add key="IsMaintenance" value="false"/>
    <!-- Used to redirect to the InfoAlert page on sign-in -->
    <add key="UseInfoAlert" value="false"/>
    <!-- Used in news result -->
    <add key="HighlightWordsBeforeSpan" value="10"/>
    <add key="HighlightWordsAfterSpan" value="10"/>
    <!-- Used to set radio clip player url -->
    <add key="RadioClipPlayerURL" value="https://qa.iqmediacorp.com/ClipRadioPlayer?id="/>
    <!-- Used to set client root folder -->
    <add key="ClientRootFolderName" value="Main Folder"/>
    <!-- Used to set max default email address -->
    <add key="MaxDefaultEmailAddress" value="4"/>
    <!-- Used to set get video meta data url -->
    <add key="UrlGetVideoMetaData" value="https://qaservices.iqmediacorp.com/iqsvc/GetVideoMetaData?ID=" />
    <!-- Used to set get video meta neilsen data url -->
    <add key="UrlGetVideoNielSenData" value="https://qaservices.iqmediacorp.com/iqsvc/GetVideoNielSenData?ID=" />
    <!-- Used to set get video raw media thumb url -->
    <add key="UrlGenerateVideoRawMediaThumb" value="https://qaservices.iqmediacorp.com/iqsvc/GenerateVideoRawMediaThumb?RawMediaGuid=" />
    <!-- Used to set get video category data url -->
    <add key="UrlGetVideoCategoryData" value="https://qaservices.iqmediacorp.com/iqsvc/GetVideoCategoryData" />
    <!-- Used to set create media clip url -->
    <add key="UrlCreateMediaClip" value="https://qaservices.iqmediacorp.com/svc/clip/CreateMediaClip" />
    <!-- Used to set generate media clip thumbnail url -->
    <add key="UrlGenerateMediaClipThumbnail" value="https://qaservices.iqmediacorp.com/svc/clip/GenerateMediaClipThumbnail?fid=" />
    <!-- Used to set export media clip url -->
    <add key="UrlExportMediaClip" value="https://qaservices.iqmediacorp.com/svc/clip/ExportMediaClip?fid=" />
    <!-- Used to set export IOS media clip url -->
    <add key="UrlExportIOSMediaClip" value="https://qaservices.iqmediacorp.com/iossvc/ExportMediaClip?fid=" />
    <!-- Used to set clip time sync url -->
    <add key="UrlClipTimeSync" value="https://qaservices.iqmediacorp.com/iqsvc/InsertClipTimeSync"/>
    <add key="SubDomainSWF" value="services"/>
    <add key="IsSecuredServiceSWF" value="true"/>
    <!-- Used to send email from library player -->
    <add key="UrlSendEmail" value="https://qaservices.iqmediacorp.com/iqsvc/SendEmail"/>
    <!-- Used to set get video meta neilsen data url in library-->
    <add key="UrlGetNielSenData" value="https://qaservices.iqmediacorp.com/iqsvc/GetNielSenData" />
    <!-- Used to get TV urls for Feeds CSV exports -->
    <add key="UrlGetIQAgentIframeUrl" value="https://qaservices.iqmediacorp.com/iqsvc/GetIQAgentIframeURL?Date={0}&amp;IQAgentResultID={1}&amp;RawMediaGuid={2}" />
    <!-- Used to get Clip Details of Created Clip Isvc -->
    <add key="UrlISVCGetClipDetail" value="https://qaservices.iqmediacorp.com/isvc/GetArchiveClip" />



    <!-- Search Engine -->
    <!--<add key="SolrFL" value="title120,RL_Station_DateTime_DT,guid,iq_cc_key,iq_dma_num"/>-->
    <!-- Used in search engine for News search -->
    <add key="solrNewsFL" value="genre,harvestdate_dt,title,source_category,url,homeurl_domain,iqseqid,iqdmaname,homeurl,iqlicense"/>
    <!-- Used in search engine for Social Media search -->
    <add key="solrSMFL" value="homeurl_domain,title,harvestdate_dt,mediatype,autorank,url,iqseqid,homeurl"/>
    <!-- Used in search engine for TV search -->
    <add key="SolrFL" value="title120,market,iq_cc_key,guid,datetime_dt,stationid,iq_dma_num,timezone,iq_ssp_unique,gmtdatetime_dt,seqid"/>
    <!-- Used in search engine for ProQuest search -->
    <add key="SolrProQuestFL" value="iqseqid,abstract,mediacategory,content,contenthtml,availdate,mediadate,publication,author,title,copyright"/>
    <!-- Used in search engine for set sort max no of fields -->
    <add key="MaxSortField" value="3"/>
    <!-- Used in Timeshift search engine for solr fragment size -->
    <add key="FragSize" value="225" />
    <!-- Used in search engine for solr fragment size -->
    <add key="SolrFragSize" value="225"/>
    <!-- Used in search engine for solr request duration -->
    <add key="SolrRequestDuration" value="30000" />
    <!-- Used in search engine for solr gragment size for sentiment -->
    <add key="SolrFragSizeForSentiment" value="500"/>
    <!-- Used for pmg news license search -->
    <add key="IsPmgNewsLicenseSearch" value="true"/>

    <!-- Discovery -->
    <!-- Used in discovery controller for discovery page size option-->
    <add key="DiscoveryPageSizeOptions" value="10,20,50,100"/>
    <!-- Used in discovery, discovery2 for saved search page size -->
    <add key="DiscoverySavedSearchPageSize" value="5"/>
    <!-- Used in discovery, discovery2, DiscoveryLite to dispaly message for continue or stop search-->
    <add key="DiscoveryMessage" value="We are working hard getting all the data for you based on your terms. We can &lt;input value=&quot;continue&quot; class=&quot;RefreshResult GreenFont&quot; id=&quot;btnRefresh Data&quot; type=&quot;button&quot; alt=&quot;Continue&quot; onclick=&quot;RefreshResult();&quot; /&gt; to work for you or &lt;input value=&quot;stop&quot; class=&quot;RefreshResult RedFont&quot; id=&quot;btnRefresh Data&quot; type=&quot;button&quot; alt=&quot;stop&quot; onclick=&quot;$(this).parent().parent().hide();&quot; /&gt; with the results we have so far."/>
    <!-- Used for twitter search-->
    <add key="GnipTag" value="97605D71-5978-4062-BD49-AD1B58D7134E"/>
    <!-- Used for discovery max limit-->
    <add key="MaxDiscoveryItemLimit" value="3000"/>
    <!-- Url of the Javabean app to get Topics data -->
    <add key="DiscoveryTopicsUrl" value="http://10.100.1.122:8080/iqmediatfg-2.0/index.jsp"/>

    <!-- Feeds -->
    <!-- Used in feeds controller for feed page size option-->
    <add key="FeedPageSizeOptions" value="10,20,50,100,300"/>
    <!-- Used to set radio raw player url -->
    <add key="RadioRawPlayerURL" value="https://qa.iqmediacorp.com/RawRadioPlayer?id="/>

    <!-- Timeshift -->
    <!-- Used in Timeshift, for display page size -->
    <add key="TimeshiftPageSize" value="10"/>
    <!-- Used in Timeshift for saved search page size -->
    <add key="TimeshiftSavedSearchPageSize" value="2"/>
    <!-- Used in TimeshiftB for PMG search -->
    <add key="PMGTBSearchUrl" value="http://10.100.1.51:8080/solr/ctv490-2014/select/"/>

    <!-- TAds -->
    <!-- Used in TAds, for display page size -->
    <add key="TAdsPageSize" value="10" />

    <!-- Library -->
    <!-- Used in Library, for iq ugc display page size option -->
    <add key="IQUGCArchievePageSizeOptions" value="10,100"/>
    <!-- Used in Library, for display page size option-->
    <add key="IQArchievePageSizeOptions" value="10,20,50,100,300,500"/>
    <!-- Used to set tv thumb -->
    <add key="IQArchieve_TVThumbUrl" value="https://qaservices.iqmediacorp.com/svc/clip/previewImage?log=false&amp;eid="/>
    <!-- Used to set service url -->
    <add key="CCService_RefreshResultURL" value="https://qaservices.iqmediacorp.com/svc/cc/getClosedCaption?fid={0}" />
    <!-- Used to set upload path -->
    <add key="UGCFileUploadLocation" value="d:\\" />
    <!-- Used to set download path -->
    <add key="UGCFileDownloadLocation" value="d:\\" />
    <!-- Used to create UGC Content xml -->
    <add key="IQMediaUserGUID" value="07175c0e-2b70-4325-be6d-611910730968"/>
    <!--<add key="UGCPermittedFileTypes" value="WMV,MP4,MOV,MP3"/>
    <add key="UGCDocFileTypes" value="XLS,XSLX,JPG,PNG,JPEG,DOC,DOCX,PDF"/>-->
    <!-- Used to set clip player url -->
    <add key="ClipPlayerURL" value="https://qa.iqmediacorp.com/ClipPlayer/?ClipID="/>
    <!-- Used to set ProQuest url -->
    <add key="ProQuestURL" value="http://cfurst.iqmediacorp.com/ProQuest/?source={0}&amp;id={1}"/>
    <!-- Used to show time sync -->
    <add key="IsShowArchiveTimeSync" value="false" />
    <!-- Used to Get Share Variable -->
    <add key="GetStationSharing" value="https://qaservices.iqmediacorp.com/iqsvc/GetStationSharing?ClipID={0}"/>
    <!-- Used to Get Share Variable -->
    <add key="GetEmailSharing" value="https://qaservices.iqmediacorp.com/iqsvc/GetEmailSharing"/>
    <!-- Used to create temp html documents when exporting reports to PDF -->
    <add key="DirReportExportHTML" value="D:\Download\Library\PDF\TempHTML\"/>

    <!-- Discovery2 -->
    <!-- Used in Discovery 2 logic file for search engine -->
    <add key="PMGSearchUrl" value="http://10.100.1.59:8080/solr/ctv490-2010/select?shards=10.100.1.59:8080/solr/ctv490-2010,10.100.1.59:8080/solr/ctv490-2011,10.100.1.59:8080/solr/ctv490-2012,10.100.1.59:8080/solr/ctv490-2013&amp;"/>
    <!--<add key="PMGSearchUrl" value="http://10.100.1.59:8080/solr/core0/select/"/>-->
    <add key="SolrNewsUrl" value="http://10.100.1.59:8080/solr/cmo362-2012-1/select/"/>
    <!--<add key="SolrNewsUrl" value="http://10.100.1.55:8080/solr/core0/select/" ></add>-->
    <add key="SolrSMUrl" value="http://10.100.1.59:8080/solr/cmo362-2012-1/select/"/>
    <!--<add key="SolrSMUrl" value="http://10.100.1.58:8080/solr/core0/select/"/>-->
    <add key="SolrTwitterUrl" value="http://10.100.1.42:8080/solr/core0/select/"/>

    <!-- Global Admin -->
    <!-- Used to set client list page size -->
    <add key="ClientPageSize" value="10"/>
    <!-- Used to set customer list page size -->
    <add key="CustomerPageSize" value="10"/>
    <!-- Used to set application list page size -->
    <add key="ApplicationPageSize" value="10"/>
    <!-- Used to set client application list page size -->
    <add key="ClientApplicationPageSize" value="10"/>
    <!-- Used to set customer application list page size -->
    <add key="CustomerApplicationPageSize" value="10"/>
    <!-- Used to set ugc map list page size -->
    <add key="ClientUGCMapPageSize" value="5"/>
    <!-- Used to set cutomer category -->
    <add key="DefaultCustomCategory" value="Default"/>
    <!-- Used in customer registration -->
    <add key="Pages" value="v4Dashboard|v4Dashboard,v4Feeds|v4Feeds,v4Discovery|v4Discovery,v4DiscoveryLite|v4DiscoveryLite,v4Timeshift|v4Timeshift,v4Library|v4Library,v4Setup|v4Setup,v4GlobalAdmin|v4GlobalAdmin"/>
    <!-- Used for Image Check in client registration-->
    <add key="PlayerLogoHeight" value="52" />
    <add key="PlayerLogoWidth" value="52" />
    <!-- Used for player logo directory-->
    <add key="DirPlayerLogo" value="D:\Projects\IQMedia2010\cliQ4\WebApplication\IQMedia.WebApplication\Images\PlayerLogo\" />
    <!-- Used to set image extension for client-->
    <add key="ClientImageExtensions" value="jpg,jpeg,gif,tif,png" />
    <!-- Used to set image extension of report for client-->
    <add key="ClientReportImageExtensions" value="jpg,jpeg,png"/>
    <!-- Used to set timezones in client registration -->
    <add key="TimeZones" value="CST|EST|MST|PST"/>
    <!-- Used to check or create directory for report header -->
    <add key="DirReportHeader" value="D:\Projects\IQMedia2010\cliQ4\WebApplication\IQMedia.WebApplication\Images\ReportHeader\"/>
    <!-- Used to set report header width-->
    <add key="ReportHeaderWidth" value="900" />
    <!-- Used to set report header height-->
    <add key="ReportHeaderHeight" value="100" />
    <!-- Used to set default report header-->
    <add key="ClientDefaultHeaderImage" value="Images/Default.png"/>
    <!-- Used to set email default report header-->
    <add key="ClientDefaultEmailHeaderImage" value="Images/DefaultEmail.png"/>
    <!-- Used to set UGC Map Logo url-->
    <add key="UGCMapLogo" value="D:\Projects\IQMedia2010\cliQ4\WebApplication\IQMedia.WebApplication\Images\UGCMapLogo\"/>
    <add key="UGCMapLogo2" value="D:\Projects\IQMedia2010\cliQ4\WebApplication\IQMedia.WebApplication\Images\UGCMapLogo2\"/>
    <add key="UrlUGCMapLogo" value="http://localhost:55744/Images/UGCMapLogo2/"/>

    <!-- Setup -->
    <!-- Used to set job status list page size -->
    <add key="JobStatusPageSize" value="10"/>
    <!-- Used to set file upload list page size -->
    <add key="FliqUploadPageSize" value="2"/>
    <!-- Used to set IQ notification list page size -->
    <add key="IQNotificationPageSize" value="5"/>
    <!-- Used in IQ notification -->
    <add key="DaysOfWeek" value="Sunday|0,Monday|1,Tuesday|2,Wednesday|3,Thursday|4,Friday|5,Saturday|6"/>
    <add key="TimeOfDay" value="12 AM,1 AM,2 AM,3 AM,4 AM,5 AM,6 AM,7 AM,8 AM,9 AM,10 AM,11 AM,12 PM,1 PM,2 PM,3 PM,4 PM,5 PM,6 PM,7 PM,8 PM,9 PM,10 PM,11 PM"/>
    <add key="IQNotificationFrequency" value="Immediate,Hourly,OnceDay,OnceWeek"/>
    <add key="InstagramAuthenticationRedirect" value="https://qaservices.iqmediacorp.com/svc/instagram/authenticate?clientGuid="/>

    <!-- ClipPlayer -->
    <!-- Used in ClipPlayer, iframemicrosite to load player -->
    <add key="IOSSVCGetVarsUrl" value="https://qaservices.iqmediacorp.com/iossvc/GetVars?ClipID={0}&amp;IsAndroid=true"/>
    <!-- Used in ClipPlayer controller -->
    <add key="SVCGetClipThumbUrl" value="https://qaservices.iqmediacorp.com/svc/clip/previewImagePath?eid="/>
    <!-- Used in ClipPlayer controller for IOS and Android -->
    <add key="IOSAndroidClipPlayerURL" value="https://qaservices.iqmediacorp.com/svc/logs/logClipPlay?fid={0}&amp;ref={1}"/>
    <add key="IOSAndroidUpdateClipPlayLogURL" value="https://qaservices.iqmediacorp.com/svc/logs/updateClipPlayLog?logID={0}&amp;percentPlayed={1}" />
    <add key="ClipLogUpdateInterval" value="20" />

    <!-- Download -->
    <!-- Used to set download limit -->
    <add key="DownloadLimitNM" value="5" />
    <add key="DownloadLimitSM" value="5" />
    <add key="DownloadLimitTV" value="5" />
    <add key="DownloadLimitTVEyes" value="5"/>
    <!-- Used to set export clip url -->
    <add key="ExportClip" value="https://qaservices.iqmediacorp.com/svc/clip/export"/>
    <!-- Used to set export clip message -->
    <add key="ExportClipMsg" value="Clip Export request sent successfully."/>
    <!-- Used to set clip download location -->
    <add key="ClipDownloadLocation" value="C:\\Users\\Public\\Videos\\Sample Videos1\\" />

    <!-- kantar sony-->
    <!-- Used to set page size -->
    <add key="KantarPageSize" value="5"/>

    <!-- Utility -->
    <!-- Used in utility for RenderRawMediaPlayer and RenderBasicRawMediaPlayer method -->
    <add key="RL_User_GUID" value="07175c0e-2b70-4325-be6d-611910730968" />
    <add key="CategoryCode" value="PR"/>
    <add key="MaxClipLength" value="1800"/>
    <add key="DefaultClipLength" value="60"/>
    <add key="RawMediaObjectWidth" value="545"/>
    <add key="RawMediaObjectHeight" value="340"/>
    <add key="LocalPlayerLocation" value="https://qa.iqmediacorp.com/qav4_iqagentiframe_iqmedia_basicplayer_v1.34.31.swf"/>
    <!-- <add key="BasicPlayerLocation" value="https://qa.iqmediacorp.com/qav4_iqagentiframe_iqmedia_basicplayer_v1.34.58.swf"/> -->
    <add key="BasicPlayerLocation" value="https://www.iqmediacorp.com/iqmedia_basicplayer_v1.34.70.swf" />
    <!-- Used in utility for RenderClipPlayer -->
    <add key="ClipPlayerObjectWidth" value="545"/>
    <add key="ClipPlayerObjectHeight" value="312"/>
    <add key="ResizePlayerLocation" value="https://qa.iqmediacorp.com/qav4_iqmedia_player_v1.61.swf"/>
    <!-- Used in utility for GetRawMediaCaption method -->
    <add key="SolrQTIframe" value="iqmedia"/>
    <add key="PMGMaxHighlights" value="99"/>
    <add key="RawMediaCaptionDelay" value="20"/>
    <!-- Also used in _ClientRegistration.cshtml page -->
    <add key="URLWaterMark" value="http://localhost:2281/PlayerLogo/" />
    <add key="URLWaterMark" value="http://localhost:55188/Images/PlayerLogo/" />
    <!-- Also used in clip player index file and software engage.cshtml page -->
    <add key="PlayerLocation" value="https://qa.iqmediacorp.com/qav4_iqmedia_player_v1.73.swf"/>
    <!-- Used to set IQ Agent Player Location -->
    <add key="IQAgentPlayerLocation" value="https://qa.iqmediacorp.com/qav4_iqagentiframe_iqmedia_player_v1.18.swf"/>
    <add key="IQAgentBasicPlayerLocation" value="https://qa.iqmediacorp.com/qav4_iqagentiframe_iqmedia_basicplayer_v1.29.swf"/>

    <!-- IQAgent_Report (External Page without Login) -->
    <add key="IQAgentReportMaxRecordDisplay" value="10"/>
    <add key="IQAgentReportRawMediaPlayerUrl" value="http://localhost:65409/RawMediaPlayer/?media={0}"/>
    <add key="PQArticleUrl" value="https://cfurst.iqmediacorp.com/PQArticle/?ID={0}" />

    <!-- Email -->
    <add key="SMTPServer" value="10.100.1.23" />
    <add key="Port" value="25" />
    <add key="LoginEmail" value="info@iqmediacorp.com" />
    <add key="LoginPassword" value="passx1" />
    <add key="IsEnableSSL" value="FALSE" />
    <add key="Sender" value="donotreply@iqmediacorp.com"/>
    <add key="AddSender" value="false"/>

    <!-- SignIn -->
    <add key="MaxPasswordAttempts" value="50" />
    <add key="SessionDebug" value="true"/>

    <!-- Account -->

    <add key="PwdCriteriaMsg" value=" Password must contain one uppercase, one lowercase and a number; and length must be between 6 and 30."/>

    <add key="RsetPwdBaseUrl" value="https://www.iqmediacorp.com/Account/RsetPwd/" />
    <add key="RsetPwdEmailCount" value="5" />
    <add key="RsetPwdEmailSubject" value="iQ media Reset Password" />
    <add key="RsetPwdLinkTimeoutMinutes" value="120" />

    <add key="RecaptchaSiteKey" value="6Lc6aRITAAAAANdVfNc53S5slAgIyt9gk8QY48Fz" />
    <add key="RecaptchaSecretKey" value="6Lc6aRITAAAAAGJayGcCMWtCjMt-qHtw2_cNCjmq"/>
    <add key="RecaptchaVerifyAPI" value="https://www.google.com/recaptcha/api/siteverify"/>




    <!-- This key allows to have set json request length -->
    <add key="aspnet:MaxJsonDeserializerMembers" value="11000" />

    <add key="CacheActiveUsers" value="repCache" />

    <!-- Zendesk -->
    <add key="ZendeskSSOKey" value="buxJ343eKPXGqMLACDtnhoTwb1TtMb57m9ExJjS0WTV1MpkX" />
    <add key="ZendeskRedirectURL" value="https://soft94.zendesk.com/access/jwt?jwt=" />
    <add key="ZendeskEmail" value="operations@testsoft94.com" />
    <add key="ZendeskName" value="Zendeskuser" />

    <!-- IQ Radio-->

    <!-- This key allows total no. of segment to be combined -->
    <add key="IQRadioFragOffset" value="0" />
    <!-- Solr highlighting FragSize-->
    <add key="IQRadioFragSize" value="500" />
    <add key="IQRadioIsLogging" value="true" />
    <add key="IQRadioLogFileLocation" value="C:\logs\" />
    <add key="IQRadioSolrFL" value="iqseqid,guid,stationid,datetime_dt,timezone,market,iq_cc_key" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Alachisoft.NCache.SessionStoreProvider,Version=4.4.0.0, Culture=neutral,PublicKeyToken=1448e8d1123e9096"/>
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    <authentication mode="Forms">
      <!--<forms name=".IQAUTH" 
protection="All" 
path="/" 
domain=".iqmediacorp.com" 
timeout="30" />-->
      <forms name=".IQAUTH" protection="All" path="/" domain=".iqmediacorp.com" timeout="1380"/>
    </authentication>
    <machineKey validationKey="39F121ECD0BDACBFD61B8A7C54CFD693A65AB2541AAFEBFAED245E860625088B82FB55C50238FE90C9EF75AE440B5177ECDCAB9FEA076B45F640082DF9ABF6EE" decryptionKey="844EFAA1079C80A6870DD1B77E6434B8CAE19883217446576249A6F6EC36FE13" validation="SHA1" decryption="AES"/>

    <membership defaultProvider="IQMembershipProvider">
      <providers>
        <clear/>
        <add name="IQMembershipProvider" type="IQMedia.Web.Common.Providers.MembershipProvider, IQMedia.Web.Common" connectionStringName="IQMediaGroupEntities"/>

      </providers>
    </membership>
    <httpRuntime maxRequestLength="409600"/>
    <customErrors mode="Off">
      <error statusCode="404" redirect="NotFound/" />
    </customErrors>
    <httpCookies httpOnlyCookies="true" />
    <sessionState cookieless="false" regenerateExpiredSessionId="true" mode="Custom" customProvider="NCacheSessionProvider" timeout="10" cookieName="IQS">
      <providers>
        <add name="NCacheSessionProvider" type="Alachisoft.NCache.Web.SessionState.NSessionStoreProvider" sessionAppId="IQWeb" cacheName="repCache" writeExceptionsToEventLog="false" asyncSession="false" enableLogs="true" exceptionsEnabled="true" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="EndRequestModule" type="IQMedia.WebApplication.App_Code.EndRequestModule"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>



    <httpRedirect enabled="true" exactDestination="true" httpResponseStatus="Permanent">
      <add wildcard="/Customers*" destination="/solutions" />
      <add wildcard="/Results*" destination="/solutions" />
      <add wildcard="/Resources*" destination="/media-intelligence" />
      <add wildcard="/Services*" destination="/impact-visualization" />
      <add wildcard="/ProPrep*" destination="/impact-visualization" />
      <add wildcard="/Software*" destination="/api" />
      <add wildcard="/AboutUs*" destination="/about" />
      <add wildcard="/Company*" destination="/about" />
      <add wildcard="/FoundersClub" destination="." />
      <add wildcard="/FoundersClub/" destination=".." />
      <add wildcard="/" destination="http://www.iq.media"/>
      <add wildcard="/Home*" destination="http://www.iq.media"/>
    </httpRedirect>
    <rewrite>
      <rules>
        <rule name="SignIn">
          <match url="sign-in" />
          <action type="Redirect" url="/SignIn" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>


  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\cliqPMGLog\website.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1024KB" />
      <maxSizeRollBackups value="5" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] %-5level (%logger) - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFile" />
    </root>
    <logger name="IQMediaGroup.Core.HelperClasses.Logger" additivity="true">
      <level value="ALL" />
    </logger>
  </log4net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <MessageSettings type="IQMedia.WebApplication.Config.Sections.MessageSettings, IQMedia.WebApplication">
    <!-- Time in seconds between checking for new tasks in the database -->
    <DiscoveryMessage>We are working hard getting all the data for you based on your terms. We can &lt;input value="continue" class="RefreshResult GreenFont" id="btnRefresh Data" type="button" alt="Continue" onclick="RefreshResult();" /&gt; to work for you or &lt;input value="stop" class="RefreshResult RedFont" id="btnRefresh Data" type="button" alt="stop" onclick="$(this).parent().parent().hide();" /&gt; with the results we have so far.</DiscoveryMessage>
    <DiscoveryNoDataAvailable>Data Not available, Try Again &lt;input value="Search Again" class="RefreshResult GreenFont" id="btnRefresh Data" type="button" alt="Continue" onclick="RefreshResult();" /&gt;</DiscoveryNoDataAvailable>
    <FileNotAvailableForDownload>File is not available to dowload</FileNotAvailableForDownload>
    <ErrorOnDownloadFile>Some error occurred while downloading file</ErrorOnDownloadFile>
    <ClipNotAvailableForDownload>Clip is not available to dowload</ClipNotAvailableForDownload>
    <ErrorOnDownloadClip>Some error occurred while downloading clip</ErrorOnDownloadClip>
    <ExportClipMsg>Clip Export request sent successfully.</ExportClipMsg>
    <ArticleNotSaved>Article not saved.</ArticleNotSaved>
    <ReportNotSaved>Report not saved</ReportNotSaved>
    <ArticleAlreadySaved>Article is already saved.</ArticleAlreadySaved>
    <ErrorOccurred>An error occurred in this process.  Please contact support at support@iqmediacorp.com.</ErrorOccurred>
    <ArticleSaved>Article Saved Successfully</ArticleSaved>
    <MissingArticleSaved>Article queued for inclusion in Feeds.</MissingArticleSaved>
    <ReportWithSameNameExists>Report with same name already exists.</ReportWithSameNameExists>
    <SearchWithSameNameExists>Search with same title already exists.</SearchWithSameNameExists>
    <SearchWithSameFilterExists>Search with same filters already exist.</SearchWithSameFilterExists>
    <ReportSaved>Report Saved Successfully.</ReportSaved>
    <SearchSaved>Search Saved Successfully.</SearchSaved>
    <DescriptionPage>Your app description page.</DescriptionPage>
    <ContactPage>Your contact page.</ContactPage>
    <RecordDeleted>Record deleted successfully</RecordDeleted>
    <RecordNotDeleted>Record not deleted</RecordNotDeleted>
    <MissingParameter>Missing required parameters</MissingParameter>
    <FileNotAvailable>File not available.Please try again later</FileNotAvailable>
    <ErrorWhileMovingFtp>error while moving ftp file</ErrorWhileMovingFtp>
    <Success>Success</Success>
    <ErrorSavingFile>Error while saving file</ErrorSavingFile>
    <UnauthorizedAccess>unauthorized access</UnauthorizedAccess>
    <Error>Error</Error>
    <FileNotFound>file not found</FileNotFound>
    <AlreadyLoggedIn>You are already Logged In</AlreadyLoggedIn>
    <CredentialNotCorrect>Oops! the email and/or password is not correct.</CredentialNotCorrect>
    <NoResultFound>No Results Found</NoResultFound>

    <MaxLibraryReportItemsMsg>Maximum {0} item(s) will be included in report</MaxLibraryReportItemsMsg>
    <MaxLibraryEmailReportItemsMsg>Maximum {0} item(s) will be included in email</MaxLibraryEmailReportItemsMsg>
    <UGCFileNotAvailableForDownload>UGC file is not available to download</UGCFileNotAvailableForDownload>
    <UGCFileDownloadError>Some error occurred whild dowanloading UGC file</UGCFileDownloadError>
    <UGCInvalidFileUploadError>Please upload valid UGC file</UGCInvalidFileUploadError>

    <IAgentQueryNameExist>Query name already exists</IAgentQueryNameExist>
    <IAgentQueryNameInserted>Query inserted successfully</IAgentQueryNameInserted>
    <IAgentQueryNameUpdted>Query updated successfully</IAgentQueryNameUpdted>
    <IQAgentMaxLimitExceeds>IQAgent maximum limit exceeds</IQAgentMaxLimitExceeds>

    <IQNotificationExist>IQNotification settings already exists</IQNotificationExist>
    <IQNotificationSaved>IQNotification settings saved successfully</IQNotificationSaved>
    <IQNotificationMaxLimitExceeds>IQNotification maximum limit exceeds</IQNotificationMaxLimitExceeds>
    <IQAgentDeleteMsg>IQAgent Request deleted successfully</IQAgentDeleteMsg>
    <AgentSuspendMsg>IQAgent Request suspended successfully</AgentSuspendMsg>
    <IQAgentDeleteErrorMsg>Some error occurred whild deleting IQAgent Request</IQAgentDeleteErrorMsg>
    <SubscriptionSuccess>You have successfully subscribed to the Mobile Alert Service</SubscriptionSuccess>
    <UnSubscriptionSuccess>You have successfully unsubscribed from the Mobile Alert Service</UnSubscriptionSuccess>
    <SubscriptionFailed>Subscription failed</SubscriptionFailed>
    <UnSubscriptionFailed>Unsubscription failed</UnSubscriptionFailed>
    <SubscriptionInvalidID>Invalid ID</SubscriptionInvalidID>
    <SubscriptionInvalidAction>Invalid Action</SubscriptionInvalidAction>
    <ReportGenerationProgress>Report generation in progress</ReportGenerationProgress>
    <ClipUnableToEnqueForDownload>Unable to queue clip for download, please try again.</ClipUnableToEnqueForDownload>
    <SearchUpdated>Search Updated Successfully.</SearchUpdated>

    <MicrositeError>An error occurred, please try again.</MicrositeError>
    <IframeServiceRawMediaError>An error occurred, please try again.</IframeServiceRawMediaError>
    <LoginFailed>Login Failed</LoginFailed>
    <DeleteFailed>Delete Failed</DeleteFailed>
    <SetDefaultFailed>Set Default Action Failed</SetDefaultFailed>
    <SetDefaultEmailFailed>Set Default Action Failed</SetDefaultEmailFailed>
    <MaintenanceMessage>Site is under maintainence.</MaintenanceMessage>
    <PageLoadErrorMessage>Error Occured</PageLoadErrorMessage>
    <InvalidSearchRequestForArticle>Invalid search request for selected media category</InvalidSearchRequestForArticle>
    <NRTrackingInsertFailed>NR Article Tracking failed</NRTrackingInsertFailed>
    <NRTrackingExceptionMessage>Error occured while Tracking NR Artcile</NRTrackingExceptionMessage>
    <SelectOneMoreItemMessage>Atleast one record should be selected.</SelectOneMoreItemMessage>
    <MaxEmailAdressLimitExceeds>Maxmium @@MaxLimit@@ Email Address are Allowed</MaxEmailAdressLimitExceeds>
    <SourceAlreadyExist>Source ID already exist</SourceAlreadyExist>
    <ClientUGCMapSettingsAlreadyExist>Client UGC Map already exist</ClientUGCMapSettingsAlreadyExist>
    <ContentShareMessage>This content cannot be shared.</ContentShareMessage>
    <InfoAlertMessage>We will be performing planned maintenance on Saturday, June 27th, from 8am-5pm Eastern Time. During this time, you may encounter video playback issues for programming in the Southeast.&lt;br /&gt;&lt;br /&gt;For any questions, please email us at &lt;a target="_top" href="mailto:support@iqmediacorp.com"&gt;support@iqmediacorp.com&lt;/a&gt;.</InfoAlertMessage>
    <InfoAlertHeader>System Maintenance Alert</InfoAlertHeader>

    <ChPwdRequired>All fields are required.</ChPwdRequired>
    <ChPwdCnfmPwdNotMtch>Password and Confirm Password doesn't match</ChPwdCnfmPwdNotMtch>
    <ChPwdCriteria>Input password doesn't satisfy criteria</ChPwdCriteria>
    <ChPwdSmOldPwd>New password must not be same as current password.</ChPwdSmOldPwd>
    <ChPwdSuccess>Password has been updated successfully.</ChPwdSuccess>
    <ChPwdWrongPwd>Wrong password entered.</ChPwdWrongPwd>

    <RsetPwdLinkExpired>The Reset Password link is expired, please try again.</RsetPwdLinkExpired>
    <RsetPwdRequired>All fields are required</RsetPwdRequired>
    <RsetPwdInvalidLoginID>Invalid Email</RsetPwdInvalidLoginID>
    <RsetPwdCnfmPwdNotMtch>Password and Confirm Password don't match</RsetPwdCnfmPwdNotMtch>
    <RsetPwdCriteria>Input password doesn't satisfy criteria</RsetPwdCriteria>
    <RsetPwdSuccess>Password has been updated successfully</RsetPwdSuccess>
    <RsetPwdInvalidDetail>Provided details are not valid, please try again.</RsetPwdInvalidDetail>
    <RsetPwdEmailSent>A reset link has been sent to your email address. This link will expire in two hours. &lt;br /&gt; Note: All previous links have been expired.</RsetPwdEmailSent>
    <RsetPwdEmailError>An email could not be sent, please try again.</RsetPwdEmailError>
    <RsetPwdEmailLimit>You have exceeded the maximum attempts to reset your password. Please contact support at support@iqmediacorp.com.</RsetPwdEmailLimit>
    <RsetPwdCaptchaEmpty>Captcha cannot be empty.</RsetPwdCaptchaEmpty>
    <RsetPwdInvalidCaptcha>Invalid Captcha.</RsetPwdInvalidCaptcha>
    <RsetPwdError>An error occurred in this process, please try again.</RsetPwdError>

    <ErrorUnhandled>Oops!...It seems wrong highway has been taken, &lt;a href=&quot;{0}&quot;&gt;Please try again.&lt;/a&gt;</ErrorUnhandled>
  </MessageSettings>


  <SolrUrlSettings type="IQMedia.WebApplication.Config.Sections.SolrUrlSettings, IQMedia.WebApplication">
    <SolrCores>
      <SolrCore>
        <Type>TV</Type>
        <FromDate>2010-11-30T16:00:00Z</FromDate>
        <ToDate>2010-12-31T18:00:00Z</ToDate>
        <Url>http://10.100.1.59:8080/solr/ctv490-2010/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>TV</Type>
        <FromDate>2010-12-31T16:00:00Z</FromDate>
        <ToDate>2011-12-31T18:00:00Z</ToDate>
        <Url>http://10.100.1.59:8080/solr/ctv490-2011/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>TV</Type>
        <FromDate>2011-12-31T16:00:00Z</FromDate>
        <ToDate>2012-12-31T18:00:00Z</ToDate>
        <Url>http://10.100.1.59:8080/solr/ctv490-2012/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>TV</Type>
        <FromDate>2012-12-31T16:00:00Z</FromDate>
        <ToDate>2013-12-31T18:00:00Z</ToDate>
        <Url>http://10.100.1.59:8080/solr/ctv490-2013/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>TV</Type>
        <FromDate>2013-12-31T09:00:00Z</FromDate>
        <ToDate>2014-12-31T18:00:00Z</ToDate>
        <Url>http://10.100.1.59:8080/solr/ctv490-2014/select/</Url>
        <!--<Url>http://10.100.1.51:8080/solr/ctv490-2014/select/</Url>-->
      </SolrCore>
      <SolrCore>
        <Type>MO</Type>
        <FromDate>2012-04-17T19:15:00Z</FromDate>
        <ToDate>2012-07-31T23:59:38Z</ToDate>
        <Url>http://10.100.1.58:8080/solr/cmo362-2012-1/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>MO</Type>
        <FromDate>2012-07-31T23:59:00Z</FromDate>
        <ToDate>2012-09-30T23:59:59Z</ToDate>
        <Url>http://10.100.1.58:8080/solr/cmo362-2012-2/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>MO</Type>
        <FromDate>2012-10-01T00:00:00</FromDate>
        <ToDate>2012-12-31T23:59:38</ToDate>
        <Url>http://10.100.1.58:8080/solr/cmo362-2012-3/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>MO</Type>
        <FromDate>2012-12-31T23:59:00Z</FromDate>
        <ToDate>2013-04-30T23:59:47Z</ToDate>
        <Url>http://10.100.1.58:8080/solr/cmo362-2013-1/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>MO</Type>
        <FromDate>2013-04-30T23:59:00Z</FromDate>
        <ToDate>2013-08-31T23:59:43Z</ToDate>
        <Url>http://10.100.1.58:8080/solr/cmo362-2013-2/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>MO</Type>
        <FromDate>2013-08-31T23:57:00Z</FromDate>
        <ToDate>2013-12-31T23:48:33Z</ToDate>
        <Url>http://10.100.1.58:8080/solr/cmo362-2013-3/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>MO</Type>
        <FromDate>2013-12-31T23:48:33Z</FromDate>
        <ToDate>2014-03-31T23:52:59Z</ToDate>
        <Url>http://10.100.1.58:8080/solr/cmo362-2014-1/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>MO</Type>
        <FromDate>2014-03-31T23:52:59Z</FromDate>
        <ToDate>2014-06-30T23:59:52Z</ToDate>
        <Url>http://10.100.1.58:8080/solr/cmo362-2014-2/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>MO</Type>
        <FromDate>2014-06-30T23:59:53Z</FromDate>
        <ToDate>2014-09-30T12:02:15Z</ToDate>
        <Url>http://10.100.1.58:8080/solr/cmo362-2014-3/select/</Url>
      </SolrCore>
      <!--<SolrCore>
        <Type>MO</Type>
        <FromDate>2010-12-31T23:48:33Z</FromDate>
        <ToDate>2014-04-30T23:59:59Z</ToDate>
        <Url>http://192.168.1.151:8080/solr3.6.2/cmocore1/select/</Url>
      </SolrCore>-->
      <SolrCore>
        <Type>TW</Type>
        <FromDate>2012-08-26T01:44:02Z</FromDate>
        <ToDate>2014-10-17T11:39:56Z</ToDate>
        <Url>http://10.100.1.39:8080/solr/core0/select/</Url>
      </SolrCore>
    </SolrCores>
  </SolrUrlSettings>
</configuration>

