<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IQMediaGroupExposeEntities" connectionString="metadata=res://*/IQMediaGroup.ExposeApi.csdl|res://*/IQMediaGroup.ExposeApi.ssdl|res://*/IQMediaGroup.ExposeApi.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.100.1.34;Initial Catalog=IQMediaGroup;User ID=IQMediaWeb;Password=Web001#;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>