<div class="jumbotron footer-bg" style="clear:both;">
    <div class="container">
        
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="clearfix">
                            <a href="~/">Home</a><a href="http://blog.iqmediacorp.com" target="_blank">Blog</a><a href="~/about/">About</a><a href="~/careers/">Careers</a>
                            <h3 class="title mtp2" style="margin-top:40px;">Legal</h3><a href="~/copyright-abuse/">Copyright Abuse</a><a href="~/security/">Security</a><a href="~/privacy/">Privacy</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9 col-lg-9">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <h3 class="title">
                                    Contact Us</h3>
                                <p class="light-text">
                                    <a href="mailto:support@iqmediacorp.com" class="address mtp1">support@iqmediacorp.com</a>
                                    <a href="mailto:Info@iqmediacorp.com" class="address">info@iqmediacorp.com</a> Toll
                                    Free: (855-IQMEDIA) 855-476-3342<br />
                                    Direct: 267-898-0650</p>
                            </div>
                            <div class="col-sm-12 col-md-8 col-lg-8">
                                <h3 class="title">
                                    iQ media</h3>
                                <p class="mtp1 light-text">
                                    Engaging every marketer with better data and deeper analysis for smarter media intelligence.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <div class="clearfix mtp5">
                                    <h3 class="title mtp2">
                                        Follow Us</h3>
                                    <ul class="followus">
                                    <li><a href="https://www.facebook.com/iqmediacorp" target="_blank">
                                            <img alt="" src="~/images/home_new/footer/facebook.png"></a></li>
                                        <li><a href="https://twitter.com/iQmediacorp" target="_blank">
                                            <img alt="" src="~/images/home_new/footer/twitter.png"></a></li>                                        
                                        <li><a href="https://www.linkedin.com/company/1442342?trk=tyah&amp;trkInfo=tarId%3A1418918518181%2Ctas%3Aiq%20media%2Cidx%3A2-2-5"
                                            target="_blank">
                                            <img alt="" src="~/images/home_new/footer/linkedin.png"></a></li>
                                        <li><a rel="publisher" href="https://plus.google.com/117002577737323295442" target="_blank">
                                            <img alt="" src="~/images/home_new/footer/google.png"></a></li>
                                        <li><a href="https://www.youtube.com/channel/UCx7zlIilrSQHl0rOvcgcG4w" target="_blank">
                                            <img alt="" src="~/images/home_new/footer/youtube.png"></a></li>                                         
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-8 col-lg-8">
                                <div class="clearfix mtp5 f-location">
                                    <h3 class="title">
                                        Locations</h3>
                                        <ul>                                            
                                            <li><div><img src="~/images/home_new/arrow_white.png" alt="" />1001 East Hector Street</div><div>Suite 401</div><div>Conshohocken, PA 19428</div></li>
                                            <li><div><img src="~/images/home_new/arrow_white.png" alt="" />79 Madison Ave</div><div>2nd Floor</div><div>New York, NY 10016</div></li>
                                        </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
            <div style="font-size: 12px;text-align:center;" class="col-sm-12 col-md-12">
                
                        &copy; 2009-16 iQ Media Group Inc. All rights reserved. iQ media is a registered
                        trademark owned by iQ Media Group Inc. cliQ and fliQ are trademarks owned by iQ 
                        Media Group Inc. Other trademarks and logos are the property of their respective
                        owners.
                    
            </div>
        </div>
    </div>    
</div>
