<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="IQMediaGroupEntities" connectionString="metadata=res://*/IQMediaGroup.CoreServices.csdl|res://*/IQMediaGroup.CoreServices.ssdl|res://*/IQMediaGroup.CoreServices.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.240,1456\R2;Initial Catalog=IQMediaGroup;User ID=IQMediaGroup;Password=IMG@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="IQMediaGroupEntities" connectionString="metadata=res://*/IQMediaGroup.CoreServices.csdl|res://*/IQMediaGroup.CoreServices.ssdl|res://*/IQMediaGroup.CoreServices.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.240,1456\R2;initial catalog=iqmediagroup;user id=IQMediaGroup;password=IMG@123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>