<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="IQMediaGroupISVCEntities" connectionString="metadata=res://*/IQMediaGroup.csdl|res://*/IQMediaGroup.ssdl|res://*/IQMediaGroup.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.240,1456\r2;Initial Catalog=IQMediaGroup;User ID=IQMediaGroup;Password=IMG@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="IQMediaGroupISVCEntities" connectionString="metadata=res://*/IQMediaGroup.csdl|res://*/IQMediaGroup.ssdl|res://*/IQMediaGroup.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.100.1.34;Initial Catalog=IQMediaGroup;User ID=IQMediaWeb;Password=Web001#;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>