<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <PreviewChannel>
    <graphlocation>E:\IQMedia\IQ Media Spec\previewgraph.GRF</graphlocation><!-- Video Device Index (0,1,2,3) -->
    <logfilelocation>C:\Logs\Preview</logfilelocation>
    <windowtitle>Preview Device B</windowtitle>
  </PreviewChannel>
</configuration>
