<?xml version="1.0"?>


<configuration>
  
  <appSettings>
    <add key="GetSSPData" value="http://services.iqmediacorp.com/Isvc/Statskedprog/Getdata/"/>
    <add key="GetRawMedia" value="http://services.iqmediacorp.com/Isvc/Statskedprog/GetRawMedia/"/>
    <add key="GetRadioStation" value="http://services.iqmediacorp.com/Isvc/RadioStation/GetRadioStation/"/>
    <add key="GetRadioRawMedia" value="http://services.iqmediacorp.com/Isvc/RadioStation/GetRadioRawMedia/"/>
    <add key="serviceURL" value="http://services.iqmediacorp.com"/>
    <add key="IframeURL" value="http://www.iqmediacorp.com/IFrameServiceRawMedia/Default.aspx"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages validateRequest="false"></pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
