<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Mappings" type="IQMediaGroup.Common.Config.Handlers.XmlConfigurationSectionHandler, IQMediaGroup.Common"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <!--<add name="IQMediaGroupISVCEntities" connectionString="metadata=res://*/IQMediaGroup.csdl|res://*/IQMediaGroup.ssdl|res://*/IQMediaGroup.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.240,1456\r2;Initial Catalog=IQMediaGroup;User ID=IQMediaGroup;Password=IMG@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="IQMediaGroupEntities" connectionString="metadata=res://*/IQMedia.csdl|res://*/IQMedia.ssdl|res://*/IQMedia.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.240,1456\r2;User Id=IQMediaGroup;Password=IMG@123;Initial Catalog=IQMediaGroup;MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient" />-->
    <add name="IQMediaEntities" connectionString="metadata=res://*/IQMedia.SMS.Domain.csdl|res://*/IQMedia.SMS.Domain.ssdl|res://*/IQMedia.SMS.Domain.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.1.34;initial catalog=IQMediaGroup;user id=IQMediaWeb;password=CCSearch1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="SubscriptionURL" value="http://qa.iqmediacorp.com/Subscription"/>
  </appSettings>
  <system.web>

    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="GET,HEAD" path="crossdomain.xml" type="System.Web.StaticFileHandler"/>
      <add verb="GET,HEAD" path="*.txt" type="System.Web.StaticFileHandler"/>
      <add verb="GET,HEAD" path="*.html" type="System.Web.StaticFileHandler"/>
      <add verb="GET,HEAD" path="*.js" type="System.Web.StaticFileHandler"/>
      <add verb="*" path="*" type="IQMedia.Services.SMS.RequestProcessor, IQMedia.Services.SMS" />
    </httpHandlers>
    <!-- security -->
    <authentication mode="Forms">
      <forms name=".IQAUTH"
             protection="All"
             path="/"
             domain=".iqmediacorp.com"
             timeout="2160" />
    </authentication>

    <machineKey
      validationKey="39F121ECD0BDACBFD61B8A7C54CFD693A65AB2541AAFEBFAED245E860625088B82FB55C50238FE90C9EF75AE440B5177ECDCAB9FEA076B45F640082DF9ABF6EE"
      decryptionKey="844EFAA1079C80A6870DD1B77E6434B8CAE19883217446576249A6F6EC36FE13" validation="SHA1" decryption="AES" />

    <membership defaultProvider="IQMembershipProvider">
      <providers>
        <clear/>
        <add name="IQMembershipProvider"
             type="IQMedia.Web.Common.Providers.MembershipProvider, IQMedia.Web.Common"
             connectionStringName="IQMediaGroupEntities" />
      </providers>
    </membership>
    <!-- END security -->
    <httpRuntime requestValidationMode="2.00" enableHeaderChecking="false"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="CrossDomainXML" />
      <remove name="Static_TXT" />
      <remove name="Static_HTML" />
      <remove name="Static_JS" />
      <remove name="RequestProcessor"/>
      <add name="CrossDomainXML" verb="GET,HEAD" path="crossdomain.xml" type="System.Web.StaticFileHandler"/>
      <add name="Static_TXT" verb="GET,HEAD" path="*.txt" type="System.Web.StaticFileHandler"/>
      <add name="Static_HTML" verb="GET,HEAD" path="*.html" type="System.Web.StaticFileHandler"/>
      <add name="Static_JS" verb="GET,HEAD" path="*.js" type="System.Web.StaticFileHandler"/>
      <add name="RequestProcessor" verb="*" path="*" type="IQMedia.Services.SMS.RequestProcessor, IQMedia.Services.SMS"/>
    </handlers>
  </system.webServer>
  <Mappings type="IQMedia.Services.SMS.Config.Sections.Mappings.Mappings, IQMedia.Services.SMS, Version=1.0.0.0, Culture=neutral">
    <UrlMappings>
      <UrlMapping Url="/smssvc/GetSubscriptionURL">
        <ActionClass Type="IQMedia.Services.SMS.Commands.GetSubscriptionURL, IQMedia.Services.SMS">
          <Parameters>
            <Parameter Key="HubspotID" Type="System.Int64" />
            <Parameter Key="SearchRequestID" Type="System.Int64" />            
            <Parameter Key="Format" Type="System.String" />
            <Parameter Key="Action" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/smssvc/Clickatell">
        <ActionClass Type="IQMedia.Services.SMS.Commands.Clickatell, IQMedia.Services.SMS">
        </ActionClass>
      </UrlMapping>
    </UrlMappings>
  </Mappings>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\sms_services.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="1024KB"/>
      <maxSizeRollBackups value="5"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] %-5level (%logger) - %message%newline"/>
      </layout>

      <!-- File Logging Levels -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
</configuration>