<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Mappings" type="IQMediaGroup.Common.Config.Handlers.XmlConfigurationSectionHandler, IQMediaGroup.Common"/>
    <section name="SolrUrlSettings" type="IQMediaGroup.Common.Config.Handlers.XmlConfigurationSectionHandler, IQMediaGroup.Common" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>   
    <add name="IQMediaGroupISVCEntities" connectionString="metadata=res://*/IQMediaGroup.csdl|res://*/IQMediaGroup.ssdl|res://*/IQMediaGroup.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.100.1.34;Initial Catalog=IQMediaGroup;User ID=IQMediaWeb;Password=Web001#;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="IQMediaGroupEntities" connectionString="metadata=res://*/IQMedia.csdl|res://*/IQMedia.ssdl|res://*/IQMedia.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.100.1.34;User Id=IQMediaWeb;Password=Web001#;Initial Catalog=IQMediaGroup;MultipleActiveResultSets=True&quot;"
             providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>

    <!--<add key="PMGSearchUrl" value="http://10.100.1.59:8080/solr/core0/select/"/>-->
    <add key="PMGSearchUrl" value="http://10.100.1.62:8080/solr/ctv362-2010/select?shards=10.100.1.62:8080/solr/ctv362-2011,10.100.1.62:8080/solr/ctv362-2012,10.100.1.62:8080/solr/ctv362-2013&amp;"/>
    <add key="PMGMaxHighlights" value="99"/>
    <add key="GetClosedCaptionFromIQ" value="http://qaservices.iqmediacorp.com/svc/cc/getClosedCaption?fid="/>
    <add key="ExportClip" value="http://qaservices.iqmediacorp.com/svc/clip/export"/>
    <add key="ExportClipMsg" value="Clip Export request sent successfully."/>
    <add key="DelayToGetClipData" value="2.5"/>
    <add key="MaxNoOfReqToGetClipData" value="3"/>
    <add key="LOGAdvancedSearchServicesFileLocation" value="D:\Meghana\"/>
    <add key="IsLOGWrite" value="true"/>
    <add key="IsPMGLogging" value="true"/>
    <add key="PMGLogFileLocation" value="C:\inetpub\wwwroot\services\iqsvc\Log\PMGLog\"/>
    <add key="DefaultImagePath" value="http://qa.iqmediacorp.com/thumbnailimage/noimage.jpg"/>
    <add key="IsLogRequestResponse" value="true"/>    
    <add key="URLWaterMark" value="http://localhost:2281/PlayerLogo/" />
    <!--Webservices Keys  -->
    <add key="SMTPServer" value="smtp-relay.gmail.com"/>
    <add key="SMTPServerUser" value="info@iqmediacorp.com"/>
    <add key="SMTPServerPassword" value="passx1"/>
    <add key="sSMTPPort" value="25"/>
    <add key="sSmtpSSL" value="FALSE"/>
    <add key ="ClipURL" value="http://qav4.iqmediacorp.com/ClipPlayer/?ClipID="/>
    <add key="EncryptionKey" value="IQMediaGroup"/>
    <add key="NoImageURL" value="http://qa.iqmediacorp.com/ThumbnailImage/noimage.jpg"/>    

    <!--Parameter for Email Body Format -->
    <add key="iOSURL" value="IQMedia://" />    
    <add key="SolrFL" value="title120,market,iq_dma_num,stationid,date,hour,iq_ssp_unique,iq_cc_key,timezone"/>
    <add key="AesKey" value="43DD9199E882F08814E1864B45E4F117"/>
    <add key="AesIV" value="40275DC0B57CD8D6"/>
    <add key="IQRootPathID" value="1"/>
    <add key="Offset" value="3"/>
    <add key="HighLightedCCURL" value="http://qaservices.iqmediacorp.com/iqsvc/GetHighlightedCC?ID="/>
    <add key="ffmpegPath" value="D:\ffmpeglatest\ffmpeg-20120810-git-633b90c-win32-shared\bin"/>
    <add key="WorkingDirectory" value="C:\test\RawMedia\Working\"/>
    <add key="OutputDirectory" value="C:\test\RawMedia\Output\"/>
    <add key="RemoteGenerateThumbGenServiceURL" value="GenerateRawMediaThumb"/>
    
    <add key="SolrFragSize" value="225" />
    <add key="SolrFragSizeForSentiment" value="500"/>
    <!--<add key="SolrNewsUrl" value="http://10.100.1.59:8080/solr/cmo362-2012-1/select/"></add>
    <add key="SolrSMUrl" value="http://10.100.1.59:8080/solr/cmo362-2012-1/select/"/>-->
    <add key="SolrNewsUrl" value="http://10.100.1.55:8080/solr/cmo362-2014-1/select?shards=10.100.1.55:8080/solr/cmo362-2012-1,10.100.1.55:8080/solr/cmo362-2012-2,10.100.1.55:8080/solr/cmo362-2013-1,10.100.1.55:8080/solr/cmo362-2013-2,10.100.1.55:8080/solr/cmo362-2013-3,10.100.1.55:8080/solr/cmo362-2014-1&amp;" />
    <add key="SolrSMUrl" value="http://10.100.1.55:8080/solr/cmo362-2014-2/select?shards=10.100.1.55:8080/solr/cmo362-2012-1,10.100.1.55:8080/solr/cmo362-2012-2,10.100.1.55:8080/solr/cmo362-2013-1,10.100.1.55:8080/solr/cmo362-2013-2,10.100.1.55:8080/solr/cmo362-2013-3,10.100.1.55:8080/solr/cmo362-2014-1,10.100.1.55:8080/solr/cmo362-2014-2&amp;"/>
    <add key="solrNewsFL" value="iqseqid,homeurl_domain"/>
    <add key="solrSMFL" value="iqseqid,homeurl_domain,mediatype"/>
    <add key="SolrTwitterUrl" value="http://10.100.1.42:8080/solr/core0/select/"/>
    <add key="solrTwitterFL" value="tweet_id,iqseqid"/>

    <add key="LogRawMediaPlays" value="true"/>
    <add key="LicenseBasicUrl" value="http://qav4.iqmediacorp.com/Article?au="/>
    <!--
    <add key="SolrQT" value="iqmedia1"/>-->

    <!-- This key allows total no. of segment to be combined -->
    <add key="IQRadioFragOffset" value="0" />
    <!-- Solr highlighting FragSize-->
    <add key="IQRadioFragSize" value="500" />
    <add key="IQRadioIsLogging" value="true" />
    <add key="IQRadioLogFileLocation" value="e:\vp\temp\logs\" />
    <add key="IQRadioSolrFL" value="iqseqid,guid,stationid,datetime_dt,timezone,market,iq_cc_key" />    

  </appSettings>
  <system.web>

    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="GET,HEAD" path="crossdomain.xml" type="System.Web.StaticFileHandler"/>
      <add verb="GET,HEAD" path="*.txt" type="System.Web.StaticFileHandler"/>
      <add verb="GET,HEAD" path="*.html" type="System.Web.StaticFileHandler"/>
      <add verb="GET,HEAD" path="*.js" type="System.Web.StaticFileHandler"/>
      <add verb="*" path="*" type="IQMediaGroup.Services.RequestProcessor, IQMediaGroup.Services" />
    </httpHandlers>
    <!-- security -->
    <authentication mode="Forms">
      <forms name=".IQAUTH"
             protection="All"
             path="/"
             domain=""
             timeout="2160" />
    </authentication>

    <machineKey
      validationKey="39F121ECD0BDACBFD61B8A7C54CFD693A65AB2541AAFEBFAED245E860625088B82FB55C50238FE90C9EF75AE440B5177ECDCAB9FEA076B45F640082DF9ABF6EE"
      decryptionKey="844EFAA1079C80A6870DD1B77E6434B8CAE19883217446576249A6F6EC36FE13" validation="SHA1" decryption="AES" />

    <membership defaultProvider="IQMembershipProvider">
      <providers>
        <clear/>
        <add name="IQMembershipProvider"
             type="IQMedia.Web.Common.Providers.MembershipProvider, IQMedia.Web.Common"
             connectionStringName="IQMediaGroupEntities" />
      </providers>
    </membership>
    <!-- END security -->
    <httpRuntime requestValidationMode="2.00" enableHeaderChecking="false"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="CrossDomainXML" />
      <remove name="Static_TXT" />
      <remove name="Static_HTML" />
      <remove name="Static_JS" />
      <remove name="RequestProcessor"/>
      <add name="CrossDomainXML" verb="GET,HEAD" path="crossdomain.xml" type="System.Web.StaticFileHandler"/>
      <add name="Static_TXT" verb="GET,HEAD" path="*.txt" type="System.Web.StaticFileHandler"/>
      <add name="Static_HTML" verb="GET,HEAD" path="*.html" type="System.Web.StaticFileHandler"/>
      <add name="Static_JS" verb="GET,HEAD" path="*.js" type="System.Web.StaticFileHandler"/>
      <add name="RequestProcessor" verb="*" path="*" type="IQMediaGroup.Services.RequestProcessor, IQMediaGroup.Services"/>
    </handlers>
  </system.webServer>
  <system.diagnostics>
    <switches>
      <add name="ConnectionPoolPerformanceCounterDetail"
           value="4"/>
    </switches>
  </system.diagnostics>
  <Mappings type="IQMediaGroup.Services.Config.Sections.Mappings.Mappings, IQMediaGroup.Services, Version=1.0.0.0, Culture=neutral">
    <UrlMappings>
      <UrlMapping Url="/iqsvc/Clipautodownload">
        <ActionClass Type="IQMediaGroup.Services.Commands.ClipAutoDownload, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="ClipID" Type="System.Guid" />
            <Parameter Key="CategoryGUID" Type="System.Guid" />
            <Parameter Key="ClientGUID" Type="System.Guid" />
            <Parameter Key="CustomerGUID" Type="System.Guid" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/Statskedprog/GetPlayerData">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetPlayerData, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="ID" Type="System.String" />
            <Parameter Key="Type" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/UGCRawClipExport">
        <ActionClass Type="IQMediaGroup.Services.Commands.UGCRawClipExport, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="ClipID" Type="System.Guid" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetWaterMark">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetWaterMark, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="ClipID" Type="System.Guid" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetBookmarkURL">
        <ActionClass Type="IQMediaGroup.Services.Commands.BookmarkService, IQMediaGroup.Services">
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/SendEmail">
        <ActionClass Type="IQMediaGroup.Services.Commands.EmailService, IQMediaGroup.Services">
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetCategoryList">
        <ActionClass Type="IQMediaGroup.Services.Commands.CategoryService, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="ClientGUID" Type="System.Guid" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetNielSenData">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetNielSenData, IQMediaGroup.Services">
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetIQAgentIframeURL">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetIQAgentIframeURL, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="RawMediaID" Type="System.Guid" />
            <Parameter Key="Date" Type="System.DateTime" />
            <Parameter Key="IQAgentResultID" Type="System.Int64" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetIQAgentRadioIframeURL">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetIQAgentRadioIframeURL, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="RawMediaID" Type="System.Guid" />
            <Parameter Key="Date" Type="System.DateTime" />
            <Parameter Key="IQAgentResultID" Type="System.Int64" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetHighlightedCC">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetHighlightedCC, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="ID" Type="System.Int64" />
            <Parameter Key="Format" Type="System.String" />
            <Parameter Key="IQ_CC_Key" Type="System.String" />
            <Parameter Key="SearchTerm" Type="System.String" />
            <Parameter Key="FragOffset" Type="System.Int32" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GenerateRawMediaThumb">
        <ActionClass Type="IQMediaGroup.Services.Commands.GenerateRawMediaThumb, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="ID" Type="System.Int64" />
            <Parameter Key="RawMediaGuid" Type="System.Guid" />
            <Parameter Key="Offset" Type="System.Int64" />
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetHighlightedNM">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetHighlightedNM, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="ID" Type="System.Int64" />
            <Parameter Key="Format" Type="System.String" />
            <Parameter Key="ArticleID" Type="System.Int64" />
            <Parameter Key="SearchTerm" Type="System.String" />
            <Parameter Key="FragSize" Type="System.Int32" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetHighlightedSM">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetHighlightedSM, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="ID" Type="System.Int64" />
            <Parameter Key="Format" Type="System.String" />
            <Parameter Key="ArticleID" Type="System.String" />
            <Parameter Key="SearchTerm" Type="System.String" />
            <Parameter Key="FragSize" Type="System.Int32" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetNielsen">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetNielsen, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetCompeteDataNM">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetCompeteDataNM, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetCompeteDataSM">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetCompeteDataSM, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>

      <UrlMapping Url="/iqsvc/GetStationSharing">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetStationSharing, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="ClipID" Type="System.Guid" />
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>

      <UrlMapping Url="/iqsvc/GetHighlightedTW">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetHighlightedTW, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="ID" Type="System.Int64" />
            <Parameter Key="Format" Type="System.String" />
            <Parameter Key="TweetID" Type="System.String" />
            <Parameter Key="SearchTerm" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>

      <UrlMapping Url="/iqsvc/logRawMediaPlay">
        <ActionClass Type="IQMediaGroup.Services.Commands.LogRawMediaPlay, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="fid" Type="System.String" />
            <Parameter Key="ref" Type="System.String" />
            <Parameter Key="host" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>

      <UrlMapping Url="/iqsvc/UpdateRawMediaPlayLog">
        <ActionClass Type="IQMediaGroup.Services.Commands.UpdateRawMediaPlayLog, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="LogID" Type="System.Int64" />
            <Parameter Key="SecondsPlayed" Type="System.Int16" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      
      <UrlMapping Url="/iqsvc/GetEmailSharing">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetEmailSharing, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetCompeteDataByUrlNM">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetCompeteDataByCompeteUrlNM, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetCompeteDataByUrlSM">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetCompeteDataByCompeteUrlSM, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetHighlightedPQ">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetHighlightedPQ, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="ID" Type="System.Int64" />
            <Parameter Key="Format" Type="System.String" />
            <Parameter Key="ProQuestID" Type="System.Int64" />
            <Parameter Key="SearchTerm" Type="System.String" />
            <Parameter Key="FragSize" Type="System.Int32" />
          </Parameters>
        </ActionClass>
      </UrlMapping>



      <UrlMapping Url="/iqsvc/GetHighlightedWithDateCC">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetHighlightedCCWithDate, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="ID" Type="System.Int64" />
            <Parameter Key="Format" Type="System.String" />
            <Parameter Key="IQ_CC_Key" Type="System.String" />
            <Parameter Key="SearchTerm" Type="System.String" />
            <Parameter Key="FragOffset" Type="System.Int32" />
            <Parameter Key="Date" Type="System.DateTime" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetHighlightedWithDateNM">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetHighlightedNMWithDate, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="ID" Type="System.Int64" />
            <Parameter Key="Format" Type="System.String" />
            <Parameter Key="ArticleID" Type="System.Int64" />
            <Parameter Key="SearchTerm" Type="System.String" />
            <Parameter Key="FragSize" Type="System.Int32" />
            <Parameter Key="Date" Type="System.DateTime" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetHighlightedWithDateSM">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetHighlightedSMWithDate, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="ID" Type="System.Int64" />
            <Parameter Key="Format" Type="System.String" />
            <Parameter Key="ArticleID" Type="System.String" />
            <Parameter Key="SearchTerm" Type="System.String" />
            <Parameter Key="FragSize" Type="System.Int32" />
            <Parameter Key="Date" Type="System.DateTime" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetHighlightedWithDateTW">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetHighlightedTWWithDate, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="ID" Type="System.Int64" />
            <Parameter Key="Format" Type="System.String" />
            <Parameter Key="TweetID" Type="System.String" />
            <Parameter Key="SearchTerm" Type="System.String" />
            <Parameter Key="Date" Type="System.DateTime" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetCompeteDataWithDateNM">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetCompeteDataNMWithDate, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetCompeteDataWithDateSM">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetCompeteDataSMWithDate, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/Statskedprog/GetWithDatePlayerData">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetPlayerDataWithDate, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="ID" Type="System.String" />
            <Parameter Key="Type" Type="System.String" />
            <Parameter Key="Date" Type="System.DateTime" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetIQLicenseUrl">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetIQLicenseUrl, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetVideoMetaData">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetVideoMetaData, IQMediaGroup.Services">
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetVideoNielSenData">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetVideoNielSenData, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="ID" Type="System.Guid" />
            <Parameter Key="Type" Type="System.Boolean" />
            <Parameter Key="SP" Type="System.Int32" />
            <Parameter Key="Num" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iqsvc/GetVideoCategoryData">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetVideoCategoryData, IQMediaGroup.Services">          
        </ActionClass>
      </UrlMapping>

      <UrlMapping Url="/iqsvc/GenerateVideoRawMediaThumb">
        <ActionClass Type="IQMediaGroup.Services.Commands.GenerateVideoRawMediaThumb, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="RawMediaGuid" Type="System.Guid" />
            <Parameter Key="Offset" Type="System.Int32" />
            <Parameter Key="callback" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>

      <UrlMapping Url="/iqsvc/InsertClipTimeSync">
        <ActionClass Type="IQMediaGroup.Services.Commands.InsertClipTimeSync, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>

      <UrlMapping Url="/iqsvc/GetNielsenDemographic">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetNielsenDemographic, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>

      <UrlMapping Url="/iqsvc/GetCompeteDemographic">
        <ActionClass Type="IQMediaGroup.Services.Commands.GetCompeteDemographic, IQMediaGroup.Services">
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>

    </UrlMappings>
  </Mappings>
  <SolrUrlSettings type="IQMediaGroup.Services.Config.Sections.SolrUrlSettings, IQMediaGroup.Services">
    <SolrCores>
      <SolrCore>
        <Type>TV</Type>
        <FromDate>2010-11-30T16:00:00Z</FromDate>
        <ToDate>2010-12-31T18:00:00Z</ToDate>
        <Url>http://10.100.1.62:8080/solr/ctv362-2010/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>TV</Type>
        <FromDate>2010-12-31T16:00:00Z</FromDate>
        <ToDate>2011-12-31T18:00:00Z</ToDate>
        <Url>http://10.100.1.62:8080/solr/ctv362-2011/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>TV</Type>
        <FromDate>2011-12-31T16:00:00Z</FromDate>
        <ToDate>2012-12-31T18:00:00Z</ToDate>
        <Url>http://10.100.1.62:8080/solr/ctv362-2012/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>TV</Type>
        <FromDate>2012-12-31T16:00:00Z</FromDate>
        <ToDate>2013-12-31T18:00:00Z</ToDate>
        <Url>http://10.100.1.62:8080/solr/ctv362-2013/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>TV</Type>
        <FromDate>2013-12-31T09:00:00Z</FromDate>
        <ToDate>2014-12-31T18:00:00Z</ToDate>
        <Url>http://10.100.1.62:8080/solr/ctv362-2014/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>MO</Type>
        <FromDate>2012-04-17T19:15:00Z</FromDate>
        <ToDate>2012-07-31T23:59:38Z</ToDate>
        <Url>http://10.100.1.55:8080/solr/cmo362-2012-1/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>MO</Type>
        <FromDate>2012-07-31T23:59:00Z</FromDate>
        <ToDate>2012-09-30T23:59:59Z</ToDate>
        <Url>http://10.100.1.55:8080/solr/cmo362-2012-2/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>MO</Type>
        <FromDate>2012-10-01T00:00:00</FromDate>
        <ToDate>2012-12-31T23:59:38</ToDate>
        <Url>http://10.100.1.55:8080/solr/cmo362-2012-3/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>MO</Type>
        <FromDate>2012-12-31T23:59:00Z</FromDate>
        <ToDate>2013-04-30T23:59:47Z</ToDate>
        <Url>http://10.100.1.55:8080/solr/cmo362-2013-1/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>MO</Type>
        <FromDate>2013-04-30T23:59:00Z</FromDate>
        <ToDate>2013-08-31T23:59:43Z</ToDate>
        <Url>http://10.100.1.55:8080/solr/cmo362-2013-2/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>MO</Type>
        <FromDate>2013-08-31T23:57:00Z</FromDate>
        <ToDate>2013-12-31T23:48:33Z</ToDate>
        <Url>http://10.100.1.55:8080/solr/cmo362-2013-3/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>MO</Type>
        <FromDate>2013-12-31T23:48:33Z</FromDate>
        <ToDate>2014-04-30T23:59:59Z</ToDate>
        <Url>http://10.100.1.55:8080/solr/cmo362-2014-1/select/</Url>
      </SolrCore>
      <SolrCore>
        <Type>TW</Type>
        <FromDate>2012-08-26T01:44:02Z</FromDate>
        <ToDate>2014-01-17T11:39:56Z</ToDate>
        <Url>http://10.100.1.42:8080/solr/core0/select/</Url>
      </SolrCore>
    </SolrCores>
  </SolrUrlSettings>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\iqsvc_services.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="1024KB"/>
      <maxSizeRollBackups value="5"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] %-5level (%logger) - %message%newline"/>
      </layout>

      <!-- File Logging Levels -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
</configuration>
