<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="IQMediaGroupIOSEntities" connectionString="metadata=res://*/IQMediaGroup.IOS.csdl|res://*/IQMediaGroup.IOS.ssdl|res://*/IQMediaGroup.IOS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.100.1.34;Initial Catalog=IQMediaGroup;User ID=IQMediaWeb;Password=CCSearch1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />  
  <!--<add name="IQMediaGroupIOSEntities" connectionString="metadata=res://*/IQMediaGroup.IOS.csdl|res://*/IQMediaGroup.IOS.ssdl|res://*/IQMediaGroup.IOS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL2008STD;Initial Catalog=IQMediaGroup;User ID=IQMediaGroup;Password=IMG@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
 </connectionStrings>
</configuration>