<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ExportSettings" type="IQMediaGroup.Common.IOS.Config.Handlers.XmlConfigurationSectionHandler, IQMediaGroup.Common.IOS" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <ExportSettings type="IQMediaGroup.Services.IOS.ExportClip.Config.Sections.ExportSettings, IQMediaGroup.Services.IOS.ExportClip">
    <PollInterval>3600</PollInterval>
    <WorkerThreads>1</WorkerThreads>
    <WCFServicePort>8246</WCFServicePort>
    <FtpHost>192.168.1.2</FtpHost>
    <FtpUsername>meghana</FtpUsername>
    <FtpPassword>mr12345</FtpPassword>
    <FtpRootPath>media\dir</FtpRootPath>
    <FtpUsePassive>false</FtpUsePassive>
    <FFMpegPath>E:/IQMedia/Data/ffmpeg-20130322/bin/ffmpeg.exe</FFMpegPath>
    <!-- The directory to use for files in process -->
    <WorkingDirectory>c:\test\export\process\</WorkingDirectory>
  </ExportSettings>
  <connectionStrings>
    <add name="IQMediaGroupEntities" connectionString="metadata=res://*/IQMedia.csdl|res://*/IQMedia.ssdl|res://*/IQMedia.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL2008STD;User Id=IQMediaGroup;Password=IMG@123;Initial Catalog=IQMediaGroup;MultipleActiveResultSets=True;Connection Timeout=60;&quot;" providerName="System.Data.EntityClient" />
    <add name="SqlServer" connectionString="Data Source=SQL2008STD;User Id=IQMediaGroup;Password=IMG@123;Initial Catalog=IQMediaGroup;MultipleActiveResultSets=True;Connection Timeout=60;" />
  </connectionStrings>
  <appSettings>
    <add key="IOSClipLocation" value="\\appserver\programmer\upload\July 2012\3 July\IQMedia\temp" />
    <add key="IOSClipDirection" value="ftp" />
    <add key="IOSRootPathID" value="21" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\ios_service.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1024KB" />
      <maxSizeRollBackups value="5" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] %-5level (%logger) - %message%newline" />
      </layout>
      <!-- File Logging Levels -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <!-- This value should be changed to something like 50 or 100 after moving to production. -->
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=SQL2008STD;User Id=IQMediaGroup;Password=IMG@123;Initial Catalog=IQMediaGroup;MultipleActiveResultSets=True" />
      <commandText value="INSERT INTO IQLog_IOSExportService([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{system}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <!-- SQL Logging Levels -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="Console" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="AdoNetAppender" />
    </root>
  </log4net>
</configuration>