<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="Mappings" type="IQMediaGroup.Common.Config.Handlers.XmlConfigurationSectionHandler, IQMediaGroup.Common"/>
    <section name="MessageSettings" type="IQMediaGroup.Common.Config.Handlers.XmlConfigurationSectionHandler, IQMediaGroup.Common"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>    
    <add name="IQMediaGroupExposeEntities" connectionString="metadata=res://*/IQMediaGroup.ExposeApi.csdl|res://*/IQMediaGroup.ExposeApi.ssdl|res://*/IQMediaGroup.ExposeApi.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.100.1.34;Initial Catalog=IQMediaGroup;User ID=IQMediaWeb;Password=Web001#;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="IQMediaGroupEntities" connectionString="metadata=res://*/IQMedia.csdl|res://*/IQMedia.ssdl|res://*/IQMedia.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.100.1.34;User Id=IQMediaWeb;Password=Web001#;Initial Catalog=IQMediaGroup;MultipleActiveResultSets=True&quot;"
             providerName="System.Data.EntityClient" />    
  </connectionStrings>
  <appSettings>
    <!--<add key="PMGSearchUrl" value="http://207.245.94.77:8080/RESTSearch/RESTSearch"/>-->
    <!--<add key="PMGSearchUrl" value="http://10.100.1.38:8080/RESTSearch/RESTSearch"/>-->
    <!--<add key="PMGSearchUrl" value="http://10.100.1.42:8080/solr/core0/select/"/>-->
    <!--<add key="PMGSearchUrl" value="http://192.168.1.59:8085/solr/core0/select/"/>-->
    <add key="PMGSearchUrl" value="http://10.100.1.62:8080/solr/ctv362-2010/select?shards=10.100.1.62:8080/solr/ctv362-2011,10.100.1.62:8080/solr/ctv362-2012,10.100.1.62:8080/solr/ctv362-2013&amp;" />
    <add key="PMGSearchTotalHitsFromConfig" value="false"/>
    <add key="PMGMaxListCount" value="100"/>
    <add key="PMGMaxHighlights" value="99"/>
    <add key="MaxPageSize" value="50"/>
    <add key="IframeURL" value="http://qa.iqmediacorp.com/IFrameServiceRawMedia/Default.aspx"/>
    <add key="StationLogoURL" value="http://qa.iqmediacorp.com/StationLogoImages/"/>
    <add key="SolrFL" value="title120,market,stationid,iq_cc_key,affiliate,guid,gmtdatetime_dt"/>
    <add key="SolrFLCC" value="guid,cc"/>
    <add key="SolrFragSize" value="225"/>
    <add key="SolrFragSizeForSentiment" value="500"/>

    <!--<add key="GetClosedCaptionFromIQ" value="http://qaservices.iqmediacorp.com/svc/cc/getClosedCaption?fid="/>
    <add key="ExportClip" value="http://qaservices.iqmediacorp.com/svc/clip/export"/>
    <add key="ExportClipMsg" value="Clip Export request sent successfully."/>
    <add key="DelayToGetClipData" value="2.5"/>
    <add key="MaxNoOfReqToGetClipData" value="3"/>
    <add key="NoOfGUIDsInRequest" value="500"/>
    <add key="NoOfResultsFromDB" value="2000"/>
    <add key="SearchAPIRequestCacheTimeout" value="12000"/>-->
    
    
    <add key="LOGAdvancedSearchServicesFileLocation" value="D:\"/>
    <add key="IsLOGWrite" value="true"/>
    
    <!--<add key="MaxNoOfPagesSaved" value="4"/>-->
    
    <add key="SolrQT" value="iqmedia1"/>
    <add key="IsPMGLogging" value="true"/>
    <add key="PMGLogFileLocation" value="e:\vp\temp\PMGLog\"/>
    <add key="IsFeedsLogging" value="true"/>
    <add key="FeedsLogFileLocation" value="e:\vp\temp\PMGLog\"/>
    <add key="MaxSortField" value="3"/>
    <add key="IsLogRequestResponse" value="true"/>
    <add key="MaxTVResultsPageSize" value="500"/>
    <add key="MaxDaySummaryDuration" value="30" />
    <add key="MaxHourSummaryDuration" value="48" />
    <add key="RawMediaDefaultSort" value="datetime-"/>
    <add key="RadioRawMediaDefaultSort" value="datetime-"/>

    <add key="SqlCommandTimeout" value="120"/>
    
    <add key="ClipPlayerURL" value="https://qa.iqmediacorp.com/ClipPlayer/?ClipID="/>
    <add key="ClipThumbnailURL" value="https://qaservices.iqmediacorp.com/isvc/GetClipThumbnailURL?ClipID="/>
    <add key="ClipThumbnailUnavailableURL" value="https://www.iqmediacorp.com/Images/default_thumbnail_image.png"/>
    <add key="LicenseArticleUrl" value="http://qav4.iqmediacorp.com/Article/?au="/>
    <!-- Used to set PM base url -->
    <add key="IQArchieve_PMBaseUrl" value="http://qav4.iqmediacorp.com/"/>
    <add key="ClipEmbedLink" value="&lt;iframe src=&quot;{0}&amp;ps=2&quot; width=&quot;547&quot; height=&quot;411&quot; allowfullscreen=&quot;true&quot; style=&quot;border:0 none;&quot; &gt;&lt;/iframe&gt;"/>

    <add key="MaxPasswordAttempts" value="5" />

    <add key="BLPMBaseUrl" value="https://www.iqmediacorp.com/blpm/files"/>
  </appSettings>
  <system.web>

    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="GET,HEAD" path="crossdomain.xml" type="System.Web.StaticFileHandler"/>
      <add verb="GET,HEAD" path="*.txt" type="System.Web.StaticFileHandler"/>
      <add verb="GET,HEAD" path="*.html" type="System.Web.StaticFileHandler"/>
      <add verb="GET,HEAD" path="*.js" type="System.Web.StaticFileHandler"/>
      <add verb="*" path="*" type="IQMediaGroup.ExposeApi.Services.RequestProcessor, IQMediaGroup.ExposeApi.Services" />
    </httpHandlers>
    <!-- security -->
    <authentication mode="Forms">
      <forms name=".IQAUTH"
             protection="All"
             path="/"
             domain="localhost"
             timeout="2160" />
    </authentication>

    <machineKey
      validationKey="39F121ECD0BDACBFD61B8A7C54CFD693A65AB2541AAFEBFAED245E860625088B82FB55C50238FE90C9EF75AE440B5177ECDCAB9FEA076B45F640082DF9ABF6EE"
      decryptionKey="844EFAA1079C80A6870DD1B77E6434B8CAE19883217446576249A6F6EC36FE13" validation="SHA1" decryption="AES" />

    <membership defaultProvider="IQMembershipProvider">
      <providers>
        <clear/>
        <add name="IQMembershipProvider"
             type="IQMedia.Web.Common.Providers.MembershipProvider, IQMedia.Web.Common"
             connectionStringName="IQMediaGroupEntities" />
      </providers>
    </membership>
    <!-- END security -->
    <httpRuntime requestValidationMode="2.00" enableHeaderChecking="false"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="CrossDomainXML" />
      <remove name="Static_TXT" />
      <remove name="Static_HTML" />
      <remove name="Static_JS" />
      <remove name="RequestProcessor"/>
      <add name="CrossDomainXML" verb="GET,HEAD" path="crossdomain.xml" type="System.Web.StaticFileHandler"/>
      <add name="Static_TXT" verb="GET,HEAD" path="*.txt" type="System.Web.StaticFileHandler"/>
      <add name="Static_HTML" verb="GET,HEAD" path="*.html" type="System.Web.StaticFileHandler"/>
      <add name="Static_JS" verb="GET,HEAD" path="*.js" type="System.Web.StaticFileHandler"/>
      <add name="RequestProcessor" verb="*" path="*" type="IQMediaGroup.ExposeApi.Services.RequestProcessor, IQMediaGroup.ExposeApi.Services"/>
    </handlers>
  </system.webServer>
  <Mappings type="IQMediaGroup.ExposeApi.Services.Config.Sections.Mappings.Mappings, IQMediaGroup.ExposeApi.Services, Version=1.0.0.0, Culture=neutral">
    <UrlMappings>
      <UrlMapping Url="/Isvc/GetTVMetaData">
        <ActionClass Type="IQMediaGroup.ExposeApi.Services.Commands.GetTVMetaData, IQMediaGroup.ExposeApi.Services" >
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/Isvc/GetRawMedia">
        <ActionClass Type="IQMediaGroup.ExposeApi.Services.Commands.GetRawMedia, IQMediaGroup.ExposeApi.Services" >
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/Isvc/GetRadioStation">
        <ActionClass Type="IQMediaGroup.ExposeApi.Services.Commands.GetRadioStation, IQMediaGroup.ExposeApi.Services" >
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/Isvc/GetRadioMedia">
        <ActionClass Type="IQMediaGroup.ExposeApi.Services.Commands.GetRadioRawMedia, IQMediaGroup.ExposeApi.Services" >
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/Isvc/Login">
         <ActionClass Type="IQMediaGroup.ExposeApi.Services.Commands.Login, IQMediaGroup.ExposeApi.Services" >
           <Parameters>
             <Parameter Key="Format" Type="System.String" />
           </Parameters>
         </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/Isvc/GetMediaPlayerURL">
        <ActionClass Type="IQMediaGroup.ExposeApi.Services.Commands.GetMediaPlayerURL, IQMediaGroup.ExposeApi.Services" >
          <Parameters>                       
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/Isvc/GetArchiveData">
        <ActionClass Type="IQMediaGroup.ExposeApi.Services.Commands.GetArchiveData, IQMediaGroup.ExposeApi.Services" >
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/Isvc/GetTVAgents">
        <ActionClass Type="IQMediaGroup.ExposeApi.Services.Commands.GetTVAgents, IQMediaGroup.ExposeApi.Services" >
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/Isvc/GetTVAgentResults">
        <ActionClass Type="IQMediaGroup.ExposeApi.Services.Commands.GetTVAgentResults, IQMediaGroup.ExposeApi.Services" >
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/Isvc/GetTVAgentDaySummary">
        <ActionClass Type="IQMediaGroup.ExposeApi.Services.Commands.GetTVAgentDaySummary, IQMediaGroup.ExposeApi.Services" >
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/Isvc/GetTVAgentHourSummary">
        <ActionClass Type="IQMediaGroup.ExposeApi.Services.Commands.GetTVAgentHourSummary, IQMediaGroup.ExposeApi.Services" >
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/Isvc/GetCategoryList">
        <ActionClass Type="IQMediaGroup.ExposeApi.Services.Commands.GetCategoryList, IQMediaGroup.ExposeApi.Services" >
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/Isvc/CreateTVAgent">
        <ActionClass Type="IQMediaGroup.ExposeApi.Services.Commands.CreateTVAgent, IQMediaGroup.ExposeApi.Services" >
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/Isvc/UpdateTVAgent">
        <ActionClass Type="IQMediaGroup.ExposeApi.Services.Commands.UpdateTVAgent, IQMediaGroup.ExposeApi.Services" >
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/Isvc/DeleteTVAgent">
        <ActionClass Type="IQMediaGroup.ExposeApi.Services.Commands.DeleteTVAgent, IQMediaGroup.ExposeApi.Services" >
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/Isvc/GetTVAgentResultsUpdate">
        <ActionClass Type="IQMediaGroup.ExposeApi.Services.Commands.GetTVAgentResultsUpdate, IQMediaGroup.ExposeApi.Services" >
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/Isvc/SuspendTVAgent">
        <ActionClass Type="IQMediaGroup.ExposeApi.Services.Commands.SuspendTVAgent, IQMediaGroup.ExposeApi.Services" >
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/Isvc/UnSuspendTVAgent">
        <ActionClass Type="IQMediaGroup.ExposeApi.Services.Commands.UnSuspendTVAgent, IQMediaGroup.ExposeApi.Services" >
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/Isvc/GetArchiveClip">
        <ActionClass Type="IQMediaGroup.ExposeApi.Services.Commands.GetArchiveClip, IQMediaGroup.ExposeApi.Services" >
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/Isvc/GetClipThumbnailURL">
        <ActionClass Type="IQMediaGroup.ExposeApi.Services.Commands.GetClipThumbnailURL, IQMediaGroup.ExposeApi.Services" >
          <Parameters>
            <Parameter Key="ClipID" Type="System.Guid" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/Isvc/GetAgentResults">
        <ActionClass Type="IQMediaGroup.ExposeApi.Services.Commands.GetAgentResults, IQMediaGroup.ExposeApi.Services" >
          <Parameters>
            <Parameter Key="Format" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
    </UrlMappings>
  </Mappings>
  <MessageSettings type="IQMediaGroup.ExposeApi.Logic.Config.Sections.MessageSettings, IQMediaGroup.ExposeApi.Logic">
    <SessionIDMissingMessage>Missing SessionID</SessionIDMissingMessage>
    <InvalidPageNumberMessage>Invalid PageNumber</InvalidPageNumberMessage>
    <PageSizeLimitExceedMessage>PageSize exceeds Maximum limit. Max {limit} page size is allowed.</PageSizeLimitExceedMessage>
    <RowsLimitExceedMessage>Rows exceeds Maximum limit. Max {limit} rows is allowed.</RowsLimitExceedMessage>
    <InvalidSortFieldMessage>Invalid SortField &#13;&#10;Valid sort fields are &#13;&#10;{allowed}</InvalidSortFieldMessage>
    <InvalidDateRangeMessage>Invalid Date Range</InvalidDateRangeMessage>
    <InvalidTimeZoneMessage>Invalid TimeZone &#13;&#10;Valid TimeZone are &#13;&#10;{allowed}</InvalidTimeZoneMessage>
    <StationIDOrSeqIDMissingMessage>Missing StationID or SeqID</StationIDOrSeqIDMissingMessage>
    <DateTimeMissingMessage>Missing DateTime</DateTimeMissingMessage>
    <TimeZoneMissingMessage>Missing TimeZone</TimeZoneMissingMessage>
    <MaxDaySummaryDurationLimitExceedMessage>Date Range exceeds maximum day summary duration limit. Max {limit} days date range duration is allowed.</MaxDaySummaryDurationLimitExceedMessage>
    <MaxHourSummaryDurationLimitExceedMessage>Date Range exceeds maximum hour summary duration limit. Max {limit} hours date range duration is allowed.</MaxHourSummaryDurationLimitExceedMessage>
    <ToDateTimeMissingMessage>Missing ToDateTime for date range</ToDateTimeMissingMessage>
    <FromDateTimeMissingMessage>Missing FromDateTime for date range</FromDateTimeMissingMessage>
    <FromDateMissingMessage>Missing FromDate</FromDateMissingMessage>
    <ToDateMissingMessage>Missing ToDate</ToDateMissingMessage>
    <CountryDoesNotExistMessage>Country does not exist.</CountryDoesNotExistMessage>
    <RegionDoesNotExistMessage>Region does not exist.</RegionDoesNotExistMessage>
    <AffiliateDoesNotExistMessage>Affiliate does not exist.</AffiliateDoesNotExistMessage>
    <DmaDoesNotExistMessage>Dma does not exist.</DmaDoesNotExistMessage>
    <ProgramCategoryDoesNotExistMessage>Program Category does not exist.</ProgramCategoryDoesNotExistMessage>
    <StationDoesNotExistMessage>Station does not exist.</StationDoesNotExistMessage>
    <RequiredFieldMessage>Please enter required field.</RequiredFieldMessage>
    <NoResultsFoundMessage>No results found.</NoResultsFoundMessage>
    <QueryNameAlreadyExistsMessage>Query name already exists.</QueryNameAlreadyExistsMessage>
    <AgentQuotaExceededMessage>Agent quota exceeded.</AgentQuotaExceededMessage>
    <AccessDeniedMessage>Access denied.</AccessDeniedMessage>
    <ErrorMessage>An error occurred, please try again.</ErrorMessage>
    <InvalidTVAgentRequestMessage>Invalid TV Agent Request.</InvalidTVAgentRequestMessage>
    <AgentAlreadyDeleted>Agent is already deleted.</AgentAlreadyDeleted>
    <AgentAlreadyActive>Agent is already active.</AgentAlreadyActive>
    <AgentDeletedForUnSuspend>Agent is deleted, and cannot be unsuspend.</AgentDeletedForUnSuspend>
    <AgentAlreadySuspended>Agent is already suspended.</AgentAlreadySuspended>
    <AgentDeletedForSuspend>Agent is deleted, and cannot be suspend.</AgentDeletedForSuspend>
    <SuccessMessage>Success</SuccessMessage>
    <SearchRequestIDMissingMessage>Please enter search request id.</SearchRequestIDMissingMessage>
    <InputParsingErrorMessage>Error during parsing input.</InputParsingErrorMessage>
    <AuthencticationSuccessfullyMessage>User is authenticated successfully.</AuthencticationSuccessfullyMessage>
    <AuthencticationFailedMessage>Authenctication Failed.</AuthencticationFailedMessage>
    <InvalidInputMessage>Invalid Input</InvalidInputMessage>
    <UserAlreadyLoggedInMessage>"User is already logged in</UserAlreadyLoggedInMessage>
    <InvalidMediaType>Invalid media type.</InvalidMediaType>
    <InvalidMediaTypeORNoRight>Invalid Media Type or you don't have right of specific media type.</InvalidMediaTypeORNoRight>
  </MessageSettings>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\isvc_services.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="1024KB"/>
      <maxSizeRollBackups value="5"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] %-5level (%logger) - %message%newline"/>
      </layout>

      <!-- File Logging Levels -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
</configuration>
