<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <CaptureChannel>
    <name>0</name><!-- Video Device Index (0,1,2,3) -->
    <audioname>0</audioname><!-- Audio Device Index (0,1,2,3) -->
    <templocation>c:\temp\flashcapt</templocation>
    <destination>c:\temp\toingest</destination>
    <channelid>CNN</channelid>
    <periodicity>1</periodicity> <!-- In Minutes -->
    <zerolatency>1</zerolatency> <!-- 0 : False , 1 : True -->

   <!-- 0 : SinglePass - Loseless
        1 : SinglePass - quantizer-based(CQP)
        2 : SinglePass - ratefactor-based(CRF)
        3 : SinglePass - bitrate-based(ABR)
        4 : MultiPass -1st pass
        5 : MultiPass -1st pass (fast)
        6 : MultiPass -Nth pass -->
    
    <enconding_type>3</enconding_type>
    <bitrate>285</bitrate>
    <framerate>30</framerate>
    <aspectratio>2:1</aspectratio>
    <audidbitrate>128</audidbitrate>
    <videowidth>720</videowidth>
    <videoheight>480</videoheight>
    <logfilelocation>C:\Logs</logfilelocation>
    <updatewindow>15</updatewindow> <!-- In Seconds -->
    <!--<overlap>0</overlap>
    <format>1</format>
    --><!-- 0 for wmv, 1 for flv--><!--
    <schedule>00,01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24</schedule>-->
  </CaptureChannel>
</configuration>
