<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">
<title>iQ Media Founder Club</title>
 <!-- Bootstrap core CSS -->
<link href="~/Css/bootstrap3/bootstrap.css" rel="stylesheet">
<link href="~/Css/bootstrap3/bootstrap-theme.css" rel="stylesheet">
<!-- Custom -->
<link href="~/Css/bootstrap3/fonts/fonts.css" rel="stylesheet">
<link href="~/Css/bootstrap3/FounderClub.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
 
    
</head>
<body>
<div class="wrapper">
<div class="topimg"> <img src="~/Images/home_new/FounderClub/left-top-img.png" alt=""></div>
<div class="container" style="position:relative;">
	<div class="row">
	<div class="com-md-12 TSpace">
    	<div class="col-sm-7 col-md-6">
        <div class="bigTitle">FOUNDER’S AWARD<br>CLUB 2014 <span>Celebrating the Best of the Best</span></div>
        	<div class="three-img"><img src="~/Images/home_new/FounderClub/three-round-img.png" alt="" class="img-responsive"></div>
            
        </div>
        <div class="col-sm-5 col-md-6">
        	<div class="logo"><img src="~/Images/home_new/FounderClub/logo.png" alt="" class="img-responsive"> </div>
            <p class="text-justify">In an effort to recognize excellence in sales
across our organization, iQ media will kick
off our first annual Founder’s Award Club in
2015. The Founder’s Award Club is one of
the ways we reward our hardworking
employees. We recognize the determination
and ambitious spirit of our employees
and find it important to keep them aware of
how much we value them. High goals are
set for our employees, and high goals mean
high rewards.</p>
<p class="text-justify">In the spring of 2015, iQ media will honor its
most loyal, consistent, and productive sales
executives with a trip to the Cove Atlantis in
the Bahamas. These individuals will enjoy a
4 day, 3 night all-expenses paid trip for
themselves and one guest. For our sales
executives, Founder’s Award Club is an
opportunity not only to experience some of
the world’s most spectacular destinations,
but also to network and learn from other top
sales executives. The trip will include many
exciting activities like a private dinner on the
beach and a night out at the club, along with
plenty of free time to explore and relax in a
beautiful island setting.</p>
        </div>
        <h3 class="col-md-12 GreeTitle mtp15">FOUNDER’S CLUB CLASS OF 2014</h3>
       <div class="col-md-6 mtp5 flr">
        <div class="clearfix">
            	<ul class="ClientList">
                	  <li class="clientimg">
                    	<div class="client-photo"><img src="~/Images/home_new/FounderClub/Lakshmi.png" alt="Lakshmi Venkataswamy"></div>
                        <span><strong>Lakshmi Venkataswamy</strong></span><i>Founder</i>
                    </li>
                    <li class="clientimg">
                    	<div class="client-photo"><img src="~/Images/home_new/FounderClub/JohnDurham.png" alt="John Derham"></div>
                        <span><strong>John Derham</strong></span><i>Founder</i>
                    </li>
                   
                   
                </ul>
            </div>
            
            </div>
        <div class="col-md-6  mtp5">
        	
            <p class="text-justify mr50">Selling is not for everyone, that’s for sure; the cold calls, the
negotiations, and the daily rejections are not for the faint-hearted.
But for the right people, its all about the thrill of the hunt and
the satisfaction of being a part of a rapidly growing company
and having a direct impact on its success. Typically a club like
this represents the top 10% of its sales staff who have met or
exceeded their yearly sales goal. For iQ media, Founder’s
Award Club is a program that recognizes the success and loyalty
of our top producers and to say “Thank You” for the business
they have brought to the company.</p>
			
        </div>
        
        
            
            <div class="col-md-12 mtp25">
        <div class="clearfix  mtp15">
            	<ul class="ClientList">
                 <li>
                    	<div class="client-photo"><img src="~/Images/home_new/FounderClub/erica.png" alt="This Could Be You"></div>
                        <span>Erica Morgan Watson</span>
                    </li>
                     <li>
                    	<div class="client-photo"><img src="~/Images/home_new/FounderClub/BuddyAnderson.png" alt="This Could Be You"></div>
                        <span>Buddy Anderson</span>
                    </li>
                      <li>
                    	<div class="client-photo"><img src="~/Images/home_new/FounderClub/DavidZion.png" alt="David Zion"></div>
                        <span>David Zion</span>
                    </li>
                	<li>
                    	<div class="client-photo"><img src="~/Images/home_new/FounderClub/JackWyrick.png" alt="Jack Wyrick"></div>
                        <span>Jack Wyrick</span>
                    </li>
                   <li>
                    	<div class="client-photo"><img src="~/Images/home_new/FounderClub/drew.png" alt="This Could Be You"></div>
                        <span>Drew McCloskey</span>
                    </li>
                  
                   
                </ul>
            </div>
            
            </div>
    </div>  
    </div>
</div>
</div>
</body>
</html>
