<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings>
<add name="IQMediaGroupEntities" connectionString="metadata=res://*/IQMedia.TVEyes.csdl|res://*/IQMedia.TVEyes.ssdl|res://*/IQMedia.TVEyes.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.100.1.34;Initial Catalog=IQMediaGroup;User ID=IQMediaWeb;Password=CCSearch1;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>