<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="IQMediaCaptureLogEntities" connectionString="metadata=res://*/IQMediaGroup.CaptureLog.csdl|res://*/IQMediaGroup.CaptureLog.ssdl|res://*/IQMediaGroup.CaptureLog.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PARAS\SQLEXPRESS;Initial Catalog=IQMediaCaptureLog;User ID=IQMediaGroup;Password=IMG@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>