<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IQMediaGroupEntities" connectionString="metadata=res://*/IQMedia.NM.csdl|res://*/IQMedia.NM.ssdl|res://*/IQMedia.NM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL2008STD;Initial Catalog=IQMediaGroup;User ID=IQMediaGroup;Password=IMG@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>