<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="SMTPServer" value="ex7.alliancetek.com"/>
    <add key="sSMTPPort" value="25"/>
    <add key="sSmtpSSL" value="FALSE"/>
    <add key="SMTPServerUser" value="info@alliancetek.com"/>
    <add key="SMTPServerPassword" value="passx1"/>-->

    <add key="SMTPServer" value="10.100.1.32"/>
    <add key="sSMTPPort" value="25"/>
    <add key="sSmtpSSL" value="FALSE"/>
    <add key="SMTPServerUser" value="info@iqmediacorp.com"/>
    <add key="SMTPServerPassword" value="passx1"/>
    
  </appSettings>
  <connectionStrings>
    <add name="IQMediaGroupConnectionString" connectionString="server=SQL2008std;user id=IQMediaGroup;password=IMG@123;database=IQMediaGroup" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
