@using IQMedia.Model;
@using System.Text.RegularExpressions;
@using IQMedia.WebApplication.Utility;

@{
    ActiveUser sessionInfo = ActiveUserMgr.GetActiveUser();
}

<div id="divAmplificationContainer">
    <div id="divTopNav" class="navbar bg-NavDarkGray navbar-inverse" style="margin-bottom:0px">
        <div class="container">
            <div class="collapse nav-collapse">
                <span class="navbar-text navTabHeading">amplification</span>
                <ul id="ampBar" class="nav navbar-nav navTabs font14Pt">
                    <li id="liOverTime">
                        <a id="ampOverTime" href="#">over time</a>
                    </li>
                    <li>
                        <a id="ampDemographic" href="#">by demographic</a>
                    </li>
                    <li>
                        <a id="ampSources" href="#">by sources</a>
                    </li>
                    <li>
                        <a id="ampDMAs" href="#">by DMAs</a>
                    </li>
                    <li>
                        <a id="ampGeography" href="#">by geography</a>
                    </li>
                    <li>
                        <a id="ampOutlets" href="#">by outlets</a>
                    </li>
                    <li>
                        <a id="ampDaypart" href="#">by daypart</a>
                    </li>
                    <li>
                        <a id="ampTopTime" href="#">by top time</a>
                    </li>
                    <li>
                        <a id="ampShows" href="#">by shows</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="divContentContainer">
        <div class="pull-left" style="width:100%">
            <div id="primaryContent" style="width:100%">
                <div id="primaryContentHeader" class="bg-ContentGray">
                    <div style="padding:10px 10px;">
                        <span class="font22Pt">How are you being referenced across all mediums and engagement types?</span>
                        <br />
                        <div class="">
                            <span class="font15Pt">Results in the </span>
                            <div class="dropdown" style="display:inline">
                                <a id="dateRangeLink" onclick="ToggleDateRangeDrop();" class="dropdown-toggle font15Pt" data-toggle="dropdown">
                                    trailing 12 months
                                </a>
                                <div id="dateRangeDrop" class="dropdown-menu">
                                    <div class="bg-blue font15Pt" style="color:White; width:100%">
                                        Date Range
                                    </div>
                                    <div>
                                        <ul id="dateRangeList" style="list-style-type:none">
                                            <li>Trailing</li>
                                            <li><a class="clearPadding text-blue">12 months</a></li>
                                            <li><a class="clearPadding text-blue">90 days</a></li>
                                            <li><a class="clearPadding text-blue">30 days</a></li>
                                            <li><a class="clearPadding text-blue">7 days</a></li>
                                        </ul>
                                    </div>
                                    <div style="width:225px;text-align:center">
                                        <input id="dpDateFrom" type="text" style="width:75px" /> 
                                        TO 
                                        <input id="dpDateTo" type="text" style="width:75px" />
                                    </div>
                                </div>
                            </div>
                            <span class="font15Pt"> by </span>
                            <div class="dropdown" style="display:inline">
                                <a id="dateIntervalLink" class="dropdown-toggle font15Pt" data-toggle="dropdown">
                                    day
                                </a>
                                <div id="dateIntervalDrop" class="dropdown-menu">
                                    <div class="bg-blue font15Pt" style="color:White;width:100%">
                                        Interval
                                    </div>
                                    <ul id="dateIntervalList" style="list-style-type:none">
                                        <li>Trailing</li>
                                        <li>
                                            <a class="clearPadding text-blue">month</a>
                                        </li>
                                        <li>
                                            <a class="clearPadding text-blue">week</a>
                                        </li>
                                        <li>
                                            <a class="clearPadding text-blue">day</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <span class="font15Pt"> with </span>
                            <a class="font15Pt">no filters applied</a>
                        </div>
                        <br />
                        <br />
                        <div class="border-danger">
                            <span class="bg-danger">Main DEV Panel</span>
                            <br /><br />
                            <div>
                                <span>Date From </span>
                                <input id="dpDevDateFrom" type="text" placeholder="From" style="width:75px" />
                                <span> to </span>
                                <input id="dpDevDateTo" type="text" placeholder="To" style="width:75px" />
                                <span>&nbsp;</span>
                                <input id="btnResetDates" type="button" class="btn" onclick="SetDefaultDateRange();" value="Default Dates" />
                                <span>&nbsp;</span>
                                <input id="btnSetDates" type="button" class="btn" onclick="SearchResultAjaxRequest();" value="Set Dates" />
                            </div>
                        </div>
                    </div>
                    <div class="navbar" style="width:100%">
                        <div class="container">
                            <ul id="primaryNavBar" class="nav navbar-nav navBorderedTabs blMargins4">
                                <li>
                                    <a id="primaryNavAll" href="#">
                                        <div style="width: 100%">
                                            <span class="font12Pt">all</span>
                                        </div>
                                        <div style="width: 100%">
                                            <span id="primaryNavAll_Results" class="font14Pt">1,204</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a id="primaryNavSeen" href="#">
                                        <div style="width: 100%">
                                            <span  class="font12Pt">seen (tv)</span>
                                        </div>
                                        <div style="width: 100%">
                                            <span id="primaryNavSeen_Results" class="font14Pt">14</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a id="primaryNavHeard" href="#">
                                        <div style="width: 100%">
                                            <span  class="font12Pt">heard</span>
                                        </div>
                                        <div style="width: 100%">
                                            <span id="primaryNavHeard_Results" class="font14Pt">1,000</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a id="primaryNavPaid" href="#">
                                        <div style="width: 100%">
                                            <span  class="font12Pt">paid (tv)</span>
                                        </div>
                                        <div style="width: 100%">
                                            <span id="primaryNavPaid_Results" class="font14Pt">200</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a id="primaryNavEarned" href="#">
                                        <div style="width: 100%">
                                            <span  class="font12Pt">earned</span>
                                        </div>
                                        <div style="width: 100%">
                                            <span id="primaryNavEarned_Results" class="font14Pt">200</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a id="primaryNavOnAir" href="#">
                                        <div style="width: 100%">
                                            <span  class="font12Pt">on air reference</span>
                                        </div>
                                        <div style="width: 100%">
                                            <span id="primaryNavOnAir_Results" class="font14Pt">150</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a id="primaryNavOnline" href="#">
                                        <div style="width: 100%">
                                            <span  class="font12Pt">online reference</span>
                                        </div>
                                        <div style="width: 100%">
                                            <span id="primaryNavOnline_Results" class="font14Pt">200</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="divPrimaryContent" style="min-height:350px">
                    @if (Model != null)
                    {
                        @Html.Raw(Model["Primary"]);
                    }
                </div>
            </div>
            <div id="divSecondaryContent" style="width:100%;">
                @if (Model != null)
                {
                    @Html.Raw(Model["Secondary"]);
                }
            </div>
        </div>
        @*<div id="divRightNav" class="pull-right bg-danger" style="border-left:thin solid black;min-height:500px;width:5%;">
            <span>Reserved Space</span>
        </div>*@
    </div>
</div>