<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="Mappings" type="IQMediaGroup.Common.IOS.Config.Handlers.XmlConfigurationSectionHandler, IQMediaGroup.Common.IOS"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" path="*" type="IQMediaGroup.Services.IOS.Web.RequestProcessor, IQMediaGroup.Services.IOS.Web" />
    </httpHandlers>
  </system.web>
  <connectionStrings>
    <add name="IQMediaGroupIOSEntities" connectionString="metadata=res://*/IQMediaGroup.IOS.csdl|res://*/IQMediaGroup.IOS.ssdl|res://*/IQMediaGroup.IOS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.100.1.34;Initial Catalog=IQMediaGroup;User ID=IQMediaWeb;Password=Web001#;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="RequestProcessor" verb="*" path="*" type="IQMediaGroup.Services.IOS.Web.RequestProcessor, IQMediaGroup.Services.IOS.Web"/>
    </handlers>

  </system.webServer>

  <appSettings>
    <add key="IsLogRequestResponse" value="true"/>
    <add key="IOSAppVersion" value="2.0"/>
    <add key="IOSAppUpdateUrl" value="www.google.com"/>
    <add key="AesKey" value="43DD9199E882F08814E1864B45E4F117"/>
    <add key="AesIV" value="40275DC0B57CD8D6"/>
    <add key="UGCFileLocation" value="D:\TestUGCFile\"/>

    <!-- MobileLogin -->
    <add key="MaxPasswordAttempts" value="5" />
  </appSettings>


  <Mappings type="IQMediaGroup.Services.IOS.Web.Config.Sections.Mappings.Mappings, IQMediaGroup.Services.IOS.Web, Version=1.0.0.0, Culture=neutral">
    <UrlMappings>
      <UrlMapping Url="/iossvc/GetVars">
        <ActionClass Type="IQMediaGroup.Services.IOS.Web.Commands.GetVars, IQMediaGroup.Services.IOS.Web">
          <Parameters>
            <Parameter Key="ClipID" Type="System.String" />
            <Parameter Key="IOSAppVer" Type="System.String" />
            <Parameter Key="IsAndroid" Type="System.Boolean" />
            <Parameter Key="callback" Type="System.String" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iossvc/ClipExport">
        <ActionClass Type="IQMediaGroup.Services.IOS.Web.Commands.IOSClipExport, IQMediaGroup.Services.IOS.Web">
          <Parameters>
            <Parameter Key="clipGUID" Type="System.Guid" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iossvc/UploadUGC">
        <ActionClass Type="IQMediaGroup.Services.IOS.Web.Commands.UploadUGC, IQMediaGroup.Services.IOS.Web">
        </ActionClass>
      </UrlMapping>
      <UrlMapping Url="/iossvc/MobileLogin">
        <ActionClass Type="IQMediaGroup.Services.IOS.Web.Commands.MobileLogin, IQMediaGroup.Services.IOS.Web">
        </ActionClass>
      </UrlMapping>
      
      <UrlMapping Url="/iossvc/IsRegistered">
        <ActionClass Type="IQMediaGroup.Services.IOS.Web.Commands.IsRegd, IQMediaGroup.Services.IOS.Web">
        </ActionClass>
      </UrlMapping>

      <UrlMapping Url="/iossvc/ExportMediaClip">
        <ActionClass Type="IQMediaGroup.Services.IOS.Web.Commands.ExportMediaClip, IQMediaGroup.Services.IOS.Web">
          <Parameters>
            <Parameter Key="fid" Type="System.Guid" />
          </Parameters>
        </ActionClass>
      </UrlMapping>

      <UrlMapping Url="/iossvc/UploadVideo">
        <ActionClass Type="IQMediaGroup.Services.IOS.Web.Commands.UploadVideo, IQMediaGroup.Services.IOS.Web">
        </ActionClass>
      </UrlMapping>

      <UrlMapping Url="/iossvc/UpdateUploadStatus">
        <ActionClass Type="IQMediaGroup.Services.IOS.Web.Commands.UpdateUploadStatus, IQMediaGroup.Services.IOS.Web">
        </ActionClass>
      </UrlMapping>

      <UrlMapping Url="/iossvc/IOSExceptionLog">
        <ActionClass Type="IQMediaGroup.Services.IOS.Web.Commands.IOSExceptionLog, IQMediaGroup.Services.IOS.Web">
        </ActionClass>
      </UrlMapping>
      
      <UrlMapping Url="/iossvc/UpdateRawMediaLog">
        <ActionClass Type="IQMediaGroup.Services.IOS.Web.Commands.UpdateRawMediaLog, IQMediaGroup.Services.IOS.Web">
          <Parameters>
            <Parameter Key="LogID" Type="System.Int64" />
            <Parameter Key="PercentPlayed" Type="System.Int16" />
          </Parameters>
        </ActionClass>
      </UrlMapping>
      
    </UrlMappings>   
  </Mappings>
  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\ios_web_service.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="1024KB"/>
      <maxSizeRollBackups value="5"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] %-5level (%logger) - %message%newline"/>
      </layout>

      <!-- File Logging Levels -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="Console"/>
      <appender-ref ref="RollingFile"/>
      <appender-ref ref="AdoNetAppender"/>
    </root>
  </log4net>

</configuration>
