<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RedlassoMediaEntities" connectionString="metadata=res://*/Redlasso.Media.csdl|res://*/Redlasso.Media.ssdl|res://*/Redlasso.Media.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.156.44;User Id=ccenter_update;password=Put1t1n;database=media;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    <add name="IQMediaGroupEntities" connectionString="metadata=res://*/IQMedia.csdl|res://*/IQMedia.ssdl|res://*/IQMedia.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SERVER-1\SqlExpress,1433;User Id=web;Password=r3@d0nly;Initial Catalog=IQMediaGroup;MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>