.f-location li
{
    display:inline-block;
    vertical-align:top;
    margin-bottom:20px;
    margin-right:20px;
           
}

.f-location li div
{
    float:left;  
    clear:left;      
}

.f-location li span:first-of-type
{
    display:inline;
}

.f-location li img
{
    margin: 0px 5px 0px -10px;
}

.f-location li span
{
    width:182px;
    display:block;    
}
